= form.error_messages

= form.input :to, :as => :hidden
= form.input :subject, :label => t(:'messages.subject')
= form.input :body, :as => :text, :label => t(:'messages.message')
.form-actions
  = submit_tag t(:'buttons.submit'), :class => "btn btn-primary"