= form.error_messages

= form.input :to, as: :hidden, input_html: { value: params[:reply_to] ? params[:reply_to] : @user.id }
= form.input :subject, :label => t(:'messages.subject')
= form.input :body, :as => :text, :label => t(:'messages.message')
.form-actions
  = submit_tag t(:'buttons.submit'), :class => "btn btn-primary"
  = link_to :back, :class => "btn" do
    = t(:'buttons.cancel')
