= form.error_messages

= form.hidden_field :to

.field
  = form.label :subject, t(:'messages.subject')
  = form.text_field :subject

.field
  = form.label :body, t(:'messages.message')
  = form.text_area :body
  
.field
  = submit_tag t(:'buttons.submit'), :class => "button submit"