= link_to user_message_path(current_user, message), :class => "media message message-inbox #{"unread" if !message.message_read?}" do
  .pull-left
    - if message.sender.avatar.present?
      = image_tag(message.recipient.avatar.url(:gallery), :alt => message.sender.username, class: 'media-oject')
    -else
      = image_tag("backgrounds/avatar-default.gif", :alt => message.sender.username, class: 'media-oject')
  .media-body
    %p
      %strong= message.sender ? h(message.sender.username) : "N/A"
    %p
      = truncate(h(message.body), :length => 50, :separator => ' ')
    %p.muted
      = h time_ago_in_words(message.created_at)
      = t('.ago')
    = form_tag user_message_path(current_user, message), :method => :delete, class: 'message-delete-form'  do
      = submit_tag t(:'buttons.delete'), :class => "btn"
