.message-wrapper{class: "message-inbox #{"unread" if !message.message_read?}"}
  = link_to user_message_path(current_user, message), :class => "media message", data: {push: true, target: '.content'} do
    .pull-left
      - if message.sender.avatar.present?
        = image_tag(message.recipient.avatar.url(:gallery), :alt => message.sender.username, class: 'media-oject')
      -else
        = image_tag("backgrounds/avatar-default.gif", :alt => message.sender.username, class: 'media-oject')
    .media-body
      %p
        %strong= message.sender ? h(message.sender.username) : "N/A"
      %p
        = truncate(h(message.body), :length => 50, :separator => ' ')
      %p.muted
        = t('messages.ago', time: h(time_ago_in_words(message.created_at)))
  = form_tag user_message_path(current_user, message), :method => :delete, class: 'message-delete-form',  remote: true do
    %button.delete-button{:type => "submit"}
      %i.icon-trash.icon-white

  .clearfix
