- title t(:'.title'), false

- content_for :sub_nav do
  %ul#sub_sections
    %li= link_to t(:'menu.messages.inbox'), user_messages_path(user)
    %li= link_to t(:'menu.messages.sent_messages'), user_messages_path(user, :mailbox => :sent), :class => "current"
    %li= link_to t(:'menu.users.contacts'), user_contacts_path(user)
  .clear


- if messages.size == 0
  =t(:'messages.no_messages')

-else

  .messages_list
    = render messages, :user => user

  %p
    = submit_tag t(:'buttons.delete'), :class => "button delete"
