- title t(:'.title'), false

- content_for :sub_nav do
  %ul.nav.nav-tabs
    %li= link_to t(:'menu.messages.inbox'), user_messages_path(current_user), :class => "current"
    %li.active= link_to t(:'menu.messages.sent_messages'), user_messages_path(current_user, :mailbox => :sent)
    %li= link_to t(:'menu.users.contacts'), user_contacts_path(current_user)



- if messages.size == 0
  .no_records
    =t(:'messages.no_messages')

-else

  .messages_list
    = render messages, :user => user

  %p
    = submit_tag t(:'buttons.delete'), :class => "btn btn-danger"
