-title t(:'.title'), false

- content_for :sub_nav do
  %ul#sub_sections
    %li
      = link_to t(:'menu.messages.inbox'), user_messages_path(@user)
    %li
      = link_to t(:'menu.messages.sent_messages'), user_messages_path(@user, :mailbox => :sent), :class => "current"
  .clear


- if @messages.size == 0
  %p=t(:'messages.no_messages')
-else
  %table#messages_table.display.wide
    %tr
      %th{:class => "delete_seleted"}= t(:'messages.delete')
      %th= t(:'messages.subject')
      %th= t(:'messages.to')
      %th= t(:'activerecord.attributes.user.zip')
      %th= t(:'activerecord.attributes.user.country')
      %th= t(:'messages.sent_on')
  
    - for message in @messages
      %tr{:class => cycle("odd", "even")}
        %td= check_box_tag "delete[]", message.id
        %td= link_to h(message.subject), user_message_path(@user, message)
        %td= link_to h(message.recipient.username), user_path(@user)
        %td= @user.zip
        %td= I18n.t(@user.country, :scope => 'countries') rescue nil
        %td= h message.created_at.to_s(:long)
    %tr
      %td{:colspan => "4"}
        = submit_tag t(:'buttons.delete'), :class => "button delete"
