= everywhere_js do
  Layout.init("right-panel-layout");


- if params[:mailbox] == "sent"
  = render "sent", :messages => @messages, :innner_content_class => "no_padding"
- else
  = render "inbox", :messages => @messages, :innner_content_class => "no_padding"

= paginate @messages

= content_for :javascripts do
  :javascript
    $(document).ready(function() {
      if ($('#messages_table .checked').size() == 0) {
        $('.button.delete').button( "option", "disabled", true );
      }
      $('#messages_table input[type=checkbox]').live('click', function(){
        var checked_size = $('#messages_table .checked').size();
        if ($('#messages_table .checked').size() == 0) {
          $('.button.delete').button( "option", "disabled", true );
        } else {
          $('.button.delete').button( "option", "disabled", false );
        }
      });
    });

