- title t(:'.title')

= form_for @message, :url => user_messages_path(@user) do |f|
  = f.error_messages
  
  = f.hidden_field :to
  / .field
  /     = f.label :to, t(:'messages.to')
  /     = f.text_field :to

  .field
    = f.label :subject, t(:'messages.subject')
    = f.text_field :subject

  .field
    = f.label :body, t(:'messages.message')
    = f.text_area :body
    
  .field
    = submit_tag t(:'buttons.submit'), :class => "button submit"
    = t(:'common.or')
    = link_to t(:'buttons.cancel'), user_messages_path(@user)