-title h(@message.subject)
- content_for :sub_nav do
  %ul#sub_sections
    %li
      = link_to t(:'buttons.back', :model => t(:'messages.inbox.title')), user_messages_path(@user), :class => "button back"
  .clear
    
.field
  %label.inline= t(:'messages.from')  
  = @message.sender == @user ? link_to("You", user_path(@user)) : link_to(h(@message.sender.username), user_path(@user))

  %label.inline= t(:'messages.to')   
  = @message.recipient == @user ? link_to("You", user_path(@user)) : link_to(h(@message.recipient.username), user_path(@user))
  | 
  %label.inline= t(:'messages.received')
  = @message.created_at.to_s(:long)
    
.field
  %label= t(:'messages.message')
  
  = h @message.body
.field
  - if @message.recipient == @user
    = link_to t(:'buttons.reply'), new_user_message_path(@user, :reply_to => @message), :class => "button reply"

