- set_title t('.title', sender: @message.sender.username)
= everywhere_js do
  Layout.init("left-panel-layout");

.box
  .box-header
    %span= t(:'messages.from')
    - if @message.sender
      = @message.sender == @current_user ? link_to(h(@current_user.username), user_path(@current_user)) : link_to(h(@message.sender.username), user_path(@message.sender))
    - else
      = "N/A"
    %span= t(:'messages.to')
    - if @message.recipient
      = @message.recipient == @current_user ? link_to(h(@current_user.username), user_path(@current_user)) : link_to(h(@message.recipient.username), user_path(@message.recipient))
    - else
      = "N/A"
    |
    %span= t(:'messages.received')
    = @message.created_at.to_s(:long)
    .pull-right
      = link_to t('buttons.cancel'), user_messages_path(current_user), class: 'btn-cancel btn btn-mini', data: {push: true, target: '.content'}

  .box-body
    = simple_format(h(@message.body))
    %hr
    = simple_form_for @new_message, :url => user_messages_path(@current_user), :html => { :class => "form"} do |f|
      = render :partial => "messages/form", :object => f
