-title h(@message.subject)
- headline h(@message.subject)
- @body_class = "right-panel-layout"

.well
  %span= t(:'messages.from')
  - if @message.sender
    = @message.sender == @current_user ? link_to("You", user_path(@current_user)) : link_to(h(@message.sender.username), user_path(@message.sender))
  - else
    = "N/A"
  %span= t(:'messages.to')
  - if @message.recipient
    = @message.recipient == @current_user ? link_to("You", user_path(@current_user)) : link_to(h(@message.recipient.username), user_path(@message.recipient))
  - else
    = "N/A"
  |
  %span= t(:'messages.received')
  = @message.created_at.to_s(:long)

.message
  = simple_format(h(@message.body))

.message
  = simple_form_for @new_message, :url => user_messages_path(@current_user), :html => { :class => "form"} do |f|
    = render :partial => "messages/form", :object => f
