-title h(@message.subject)
- headline h(@message.subject)

- content_for :sub_nav do
  #actions_set
    = link_to :back, :class => "btn back" do
      %i.icon-arrow-left
      = t(:'buttons.back', :model => t(:'messages.inbox.title'))

  .clear

.well
  %span= t(:'messages.from')
  - if @message.sender
    = @message.sender == @current_user ? link_to("You", user_path(@current_user)) : link_to(h(@message.sender.username), user_path(@message.sender))
  - else
    = "N/A"
  %span= t(:'messages.to')
  - if @message.recipient
    = @message.recipient == @current_user ? link_to("You", user_path(@current_user)) : link_to(h(@message.recipient.username), user_path(@message.recipient))
  - else
    = "N/A"
  |
  %span= t(:'messages.received')
  = @message.created_at.to_s(:long)


%h4= t(:'messages.message')
= h simple_format(@message.body)

- if @message.recipient && @message.recipient == @user
  .form-actions
    = link_to t(:'buttons.reply'), new_user_message_path(@user, :reply_to => @message), :class => "btn btn-primary"

