-title h(@message.subject)
- content_for :sub_nav do
  %ul#sub_sections
    %li
      = link_to t(:'buttons.back', :model => t(:'messages.inbox.title')), :back, :class => "button back"
  .clear

.field
  %p
    %label.inline= t(:'messages.from')
    = @message.sender == @current_user ? link_to("You", user_path(@current_user)) : link_to(h(@message.sender.username), user_path(@message.sender))

    %label.inline= t(:'messages.to')
    = @message.recipient == @current_user ? link_to("You", user_path(@current_user)) : link_to(h(@message.recipient.username), user_path(@message.recipient))
    |
    %label.inline= t(:'messages.received')
    = @message.created_at.to_s(:long)
.field
  %p.message_body
    %label= t(:'messages.message')
    = h simple_format(@message.body)
  %p
    - if @message.recipient == @user
      = link_to t(:'buttons.reply'), new_user_message_path(@user, :reply_to => @message), :class => "button reply"

