%p
  %label= t(:'messages.from')
  %br
  = @message.sender == @user ? link_to("You", user_path(@user)) : link_to(h(@message.sender.username), user_path(@user))
%p
  %label= t(:'messages.received')
  %br   
  = @message.created_at.to_s(:long)
%p
  %label= t(:'messages.to')
  %br   
  = @message.recipient == @user ? link_to("You", user_path(@user)) : link_to(h(@message.recipient.username), user_path(@user))
%p
  %label= t(:'messages.message')
  %br
  = h @message.body
%p
  - if @message.recipient == @user
    = link_to t(:'buttons.reply'), new_user_message_path(@user, :reply_to => @message), :class => "button reply"
    = t(:'common.or')
  = link_to t(:'buttons.cancel'), user_messages_path(@user)
