-title t(:'.title')

%p= t(:'.instructions')

= form_tag password_reset_path, :method => :put do

  .field
    = label :password, t(:'activerecord.attributes.user.password')
    = password_field_tag :password
  .field
    = label :password_confirmation, t(:'activerecord.attributes.user.password_confirmation')
    = password_field_tag :password_confirmation
  = submit_tag t(:'buttons.update'), :class => "button update"