-title t(:'.title')

%p= t(:'.instructions')

= form_tag password_resets_path do
  .field
    = label :email, t(:'activerecord.attributes.user.email')
    = text_field_tag :email
    
  = submit_tag t(:'buttons.submit'), :class => "button submit"