- title t(:'.title')

- if @user == current_user
  - content_for :sub_nav do
    %ul#sub_sections
      %li
        = link_to t(:'menu.profile.edit'), edit_user_path(current_user)
      %li
        = link_to t(:'menu.profile.public'),  user_path(current_user)
      %li
        = link_to t(:'menu.profile.account'), edit_user_registration_path(current_user), :class => "current"
      %li
        = link_to t(:'menu.profile.authentications'), services_path
      
    .clear
    
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  
  .field
    %p
      = f.label :username, t(:'activerecord.attributes.user.username')
      = f.text_field :username

    %p
      = f.label :email, t(:'activerecord.attributes.user.email')
      = f.email_field :email

    %p
      = f.label t(:'activerecord.attributes.user.password')
      %i= t(:'common.leave_blank')
      = f.password_field :password

    %p
      = f.label t(:'activerecord.attributes.user.password_confirmation')
      = f.password_field :password_confirmation

    %p
      = f.label t(:'activerecord.attributes.user.current_password')
      = f.password_field :current_password

    %p= f.submit t(:'buttons.update'), :class => "button update"

  .field
    %h2= t(:'.cancel_my_account')
    %p
      = link_to t(:'buttons.registrations.cancel_my_account'), registration_path(resource_name), :confirm => t(:'common.are_you_sure'), :method => :delete, :class => "button delete"
