- set_title t(:'.title')
- description 'Edit your account, notification settings on Emuzikos.com and start to search for wanted bands and musicians'
- canonical request.url
- headline t(:'.title')
= everywhere_js do
  Layout.init("right-panel-layout"

.box
  %header.box-header
    %h1= t('.title')
  .box-body
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f|
      = devise_error_messages!
      = f.input :username, :label => t(:'activerecord.attributes.user.username')
      = f.input :email, :label => t(:'activerecord.attributes.user.email')
      = f.input :password, :label => t(:'activerecord.attributes.user.password'), :hint => t(:'common.leave_blank')
      = f.input :password_confirmation, :label => t(:'activerecord.attributes.user.password_confirmation')
      = f.input :current_password, :label => t(:'activerecord.attributes.user.current_password')
      .form-actions.box-actions
        = f.submit t(:'buttons.update'), :class => "btn btn-primary"

.box
  %header.box-header
    %h1= t(:'.cancel_my_account')
  .box-body
    = link_to t(:'buttons.registrations.cancel_my_account'), registration_path(resource_name), :confirm => t(:'common.are_you_sure'), :method => :delete, :class => "btn btn-danger"

