- title t(:'.title')
- description 'Edit your account, notification settings on Emuzikos.com and start to search for wanted bands and musicians'
- set_meta_tags :canonical => request.url

- if @user == current_user
  - content_for :sub_nav do
    %ul#sub_sections
      %li
        = link_to t(:'menu.profile.edit'), edit_user_path(current_user)
      %li
        = link_to t(:'menu.profile.public'),  user_path(current_user)
      %li
        = link_to t(:'menu.profile.account'), edit_user_registration_path(current_user), :class => "current"
      %li
        = link_to t(:'menu.profile.authentications'), services_path

    .clear

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  .field
    %p
      = f.label :username, t(:'activerecord.attributes.user.username')
      = f.text_field :username

    %p
      = f.label :email, t(:'activerecord.attributes.user.email')
      = f.email_field :email

    %p
      = f.label t(:'activerecord.attributes.user.password')
      %i= t(:'common.leave_blank')
      = f.password_field :password

    %p
      = f.label t(:'activerecord.attributes.user.password_confirmation')
      = f.password_field :password_confirmation

    %p
      = f.label t(:'activerecord.attributes.user.current_password')
      = f.password_field :current_password

    %p= f.submit t(:'buttons.update'), :class => "button update"

  %h3= t(:'.cancel_my_account')

  .field
    %p
      = link_to t(:'buttons.registrations.cancel_my_account'), registration_path(resource_name), :confirm => t(:'common.are_you_sure'), :method => :delete, :class => "button delete"



= form_for @user, :html => { :multipart => true } do |f|
  = f.error_messages
  %h3= t(:'users.preferred.language')
  .field
    %p= f.select :preferred_language, [["English", "en"], ["Français", "fr"]], :selected => @user.preferred_language
  %h3= t(:'users.notifications')

  .field
    %p
      = f.check_box :prefers_newsletters
      = f.label "prefers_newsletters", t(:"users.prefers.newsletters"), :class => "habtm"
    %p
      = f.check_box :prefers_message_notifications
      = f.label "prefers_message_notifications", t(:"users.prefers.message_notifications"), :class => "habtm"
    .clear
    =f.submit t(:'buttons.update'), :type => "submit", :class => "button submit"

