- title t(:'.title')
- description 'Sign up on Emuzikos.com and start to search for wanted bands and musicians'
- set_meta_tags :canonical => request.url
- @body_class = "right-panel-layout"


- content_for :scripts do
  :javascript
    $(document).ready(function() {
      mixpanel.track('Viewed signup page');
    });


.signup-form
  .signup-form--sidebar
    %header.page-header
      %h1= t(:'.title')

    = link_to user_omniauth_authorize_path(:facebook), :class => "btn btn-primary btn-large" do
      %i.icon-facebook
      = t(:"devise.signup_with", :provider => "Facebook")
    .shared_links
      = render  "devise/shared/links"
  .signup-form--form
    = render("signup_form", locals: {resource: resource})
%hr.clearfix
%p= t(:'.newsletter_agreement').html_safe
.clear
