- title t(:'.title')
- description 'Sign up on Emuzikos.com and start to search for wanted bands and musicians'
- set_meta_tags :canonical => request.url
- @body_class = "right-panel-layout"


- content_for :scripts do
  :javascript
    $(document).ready(function() {
      mixpanel.track('Viewed signup page');
    });


.centered-box.box
  %header.box-header
    %h1= t(:'.title')
    %p.muted= t(:'devise.registrations.new.newsletter_agreement').html_safe
  .box-body
    = link_to user_omniauth_authorize_path(:facebook), :class => "btn btn-primary btn-large" do
      %i.icon-facebook
      = t(:"devise.signup_with", :provider => "Facebook")
    %hr.clearfix
    .centered-box--form
      = render("signup_form", locals: {resource: resource})
.centered-box.box.box-headless.shared_links
  .box-body
    = render  "devise/shared/links"


