- if controller_name != 'sessions'
  .field
    = t(:'.have_account_already')
    %br
    = link_to "Log in", new_session_path(resource_name)
- if devise_mapping.registerable? && controller_name != 'registrations'
  .field
    = t(:'.dont_have_account_yet')
    %br
    = link_to "Sign up", new_registration_path(resource_name)
- if devise_mapping.recoverable? && controller_name != 'passwords'
  .field
    Forgot your password?
    %br
    = link_to "go to the recovery page", new_password_path(resource_name)
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  .field
    = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  .field
    = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    .field
      = link_to "Log in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
