<div class="users_numbers" style="margin-top: 20px;">
  <table>
    <tr>
      <th>Total Users</th>
      <th>Profiles Completed</th>
      <th>Signed in</th>
      <th>In listing</th>
    </tr>
    <tr>
      <td><%= users.count %></td>
      <td><%= users_complete_profile %> (<%= ((users_complete_profile.to_f / users.count.to_f) * 100).round(2) %>%)</td>
      <td><%= signed_in_users.count %></td>
      <td><%= users_in_listing %></td>
    </tr>
  </table>
</div>

<% if signed_in_users %>
  <h3>Signed in Users</h3>
  <div class="loggedin_users">
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Sign in count</th>
        </tr>
      </thead>
      <% for user in signed_in_users %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.sign_in_count %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>