<div id="users_chart" style="width: 380px; height: 300px;">
</div>

<div class="users_numbers" style="margin-top: 20px;">
  <table>
    <tr>
      <th>Total Users</th>
      <th>Profiles Completed</th>
      <th>Signed in</th>
      <th>In listing</th>
    </tr>
    <tr>
      <td><%= users.count %></td>
      <td><%= users_complete_profile %> (<%= ((users_complete_profile.to_f / users.count.to_f) * 100).round(2) %>%)</td>
      <td><%= signed_in_users %></td>
      <td><%= users_in_listing %></td>
    </tr>
  </table>
</div>

<script type="text/javascript">
  $(function () {
    new Highcharts.Chart({
      chart: {
         renderTo: 'users_chart',
         defaultSeriesType: 'line' },
      title: { text: 'Users per Day' },
      xAxis: { type: 'datetime' },
      yAxis: {
        title: { text: 'Users'}
      },
      tooltip: {
        formatter: function () {
          return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' + Highcharts.numberFormat(this.y, 0) + " users"
        }
      },
      plotOptions: {
        line: {
          dataLabels: {
            enabled: true
          },
          enableMouseTracking: true
        }
      },
      series: [
       {
         name: "Total Users",
         pointInterval: <%= 1.day * 1000 %>,
         pointStart: <%= 5.weeks.ago.at_midnight.to_i * 1000 %>,
         data: <%= (5.weeks.ago.to_date..Date.today).map { |date| User.total_on(date).to_f}.inspect %>
       }]
    });
  });
</script>