= form_for @user, :html => { :multipart => true } do |f|
  = f.error_messages
  
  %h3= t(:'users.location')

  .field
    %p
      = f.label :zip, t(:'activerecord.attributes.user.zip')    
      = f.text_field :zip
    %p
      = f.label :country, t(:'activerecord.attributes.user.country')
      = country_select(:user, :country, [], :include_blank => t(:'common.please_choose'))
  
  %h3= t(:'users.avatar')
  .field
    - if @user.avatar.present?
      .avatar.small
        = image_tag @user.avatar.url(:gallery)
    = f.file_field :avatar
    .clear
  
  %h3= t(:'users.musician_infos')

  .field
    %p.checkbox_set
      = f.label :visible, t(:'activerecord.attributes.user.visible')
      %br
      Being visible, you still need to complete your profile to appear in search results. Being invisible will hide you from any search result.
      %br
      = f.label "visible_true", t(:"users.visible")
      = radio_button(:user, :visible, true)
      = f.label "visible_false", t(:"users.invisible")
      = radio_button(:user, :visible, false)
        
  
    %p.checkbox_set
      = f.label :user_type, t(:'activerecord.attributes.user.user_type')
     
      - User::USER_TYPES.each do |user_type|
        = radio_button(:user, :user_type, user_type)
        = f.label "user_type_" + user_type, t(:"users.types.#{user_type}")
    %p
      = f.label :instruments, t(:'activerecord.attributes.user.instruments')
      -Instrument.all.in_groups_of(4, false) do |instruments|
        .instrument_column
          - for instrument in instruments
            .instrument
              = check_box_tag "user[instrument_ids][]", instrument.id, @user.instruments.include?(instrument)
              = f.label(instrument.name, :class => "habtm")
      .clear
    %p
      = f.label :genre, t(:'activerecord.attributes.user.genre')
      %select{ :id => "user_genre", :name => "user[genre]" }
        - User::MUSICAL_GENRES.each do |genre|
          = options_for_select([[t(:"musical_genres.#{genre}"), genre]], :selected => ( @user.genre))

    %p.checkbox_set
      = f.label :searching_for, t(:'activerecord.attributes.user.searching_for')
      
      - User::USER_TYPES.each do |searching_for|
        = radio_button(:user, :searching_for, searching_for)
        = f.label "searching_for_" + searching_for, t(:"users.types.#{searching_for}")     

    %p
      = f.label :references, t(:'activerecord.attributes.user.references')
      = f.text_field :references, :size => 60

    %p
      = f.label :request_message, t(:'activerecord.attributes.user.request_message')
      = f.text_area :request_message, :size => "45x20"

  .clear
    

  
  / .field
  /     = f.label :password, t(:'activerecord.attributes.user.password')
  /     = f.password_field :password, :class => 'form_guide', :title => t(:'tooltips.password')
  /   
  /   .field
  /     = f.label :password_confirmation, t(:'activerecord.attributes.user.password_confirmation')
  /     = f.password_field :password_confirmation 

  =f.submit t(:'buttons.update'), :type => "submit", :class => "button submit"
