= form_for @user, :html => { :multipart => true } do |f|
  = f.error_messages
  %h2= t(:'users.musician_infos')

  .field
    = f.label :user_type, t(:'activerecord.attributes.user.user_type')     
    .checkbox_set
      - User::USER_TYPES.each do |user_type|
        = radio_button(:user, :user_type, user_type)
        = f.label "user_type_" + user_type, t(:"users.types.#{user_type}")
        
  .field
    = f.label :instruments, t(:'activerecord.attributes.user.instruments')
    - User::INSTRUMENTS.in_groups_of(4, false) do |instruments|
      .instrument_column
        - for instrument in instruments
          .instrument
            = f.check_box(instrument)
            = f.label(instrument, t(:"instruments.#{instrument}"))
    .clear
  .field
    = f.label :genre, t(:'activerecord.attributes.user.genre')
    %select{ :id => "user_genre", :name => "user[genre]" }
      - User::MUSICAL_GENRES.each do |genre|
        = options_for_select([[t(:"musical_genres.#{genre}"), genre]], :selected => ( @user.genre))
  .field
    = f.label :searching_for, t(:'activerecord.attributes.user.searching_for')
    
    .checkbox_set
      - User::USER_TYPES.each do |searching_for|
        = radio_button(:user, :searching_for, searching_for)
        = f.label "searching_for_" + searching_for, t(:"users.types.#{searching_for}")     
        
  .field
    = f.label :references, t(:'activerecord.attributes.user.references')
    
    = f.text_field :references
  .field
    = f.label :request_message, t(:'activerecord.attributes.user.request_message')
    
    = f.text_area :request_message

  %h2= t(:'users.location')

  .field
    = f.label :zip, t(:'activerecord.attributes.user.zip')
    
    = f.text_field :zip
  .field
    = f.label :country, t(:'activerecord.attributes.user.country')
    
    = localized_country_select(:user, :country, [], :include_blank => t(:'common.please_choose'))
  
  %h2= t(:'users.credentials')
  .field
    = f.label :avatar, t(:'activerecord.attributes.user.avatar')
    - if @user.avatar.present?
      .avatar.small
        = image_tag @user.avatar.url(:gallery)
    = f.file_field :avatar
    .clear
  .field
    = f.label :username, t(:'activerecord.attributes.user.username')
    
    = f.text_field :username
  .field
    = f.label :email, t(:'activerecord.attributes.user.email')
    
    = f.text_field :email
  .field
    = f.label :password, t(:'activerecord.attributes.user.password')
    
    = f.password_field :password, :class => 'form_guide', :title => t(:'tooltips.password')
  .field
    = f.label :password_confirmation, t(:'activerecord.attributes.user.password_confirmation')
    
    = f.password_field :password_confirmation 

  .field
    =f.submit(t(:'buttons.update'), :type => "submit", :class => "button submit")