= form_for @user, :html => { :multipart => true } do |f|
  = f.error_messages

  %h3= t(:"location", :scope => :users)
  .field
    %p
      = f.label :zip, t(:'activerecord.attributes.user.zip')
      = f.text_field :zip
    %p
      = f.label :country, t(:'activerecord.attributes.user.country')
      = country_select(:user, :country, [], :include_blank => t(:'common.please_choose'))

  %h3= t(:'activerecord.attributes.user.avatar')
  .field
    - if @user.avatar.present?
      .avatar.small
        = image_tag @user.avatar.url(:gallery)
    = f.file_field :avatar
    .clear

  %h3= t(:"musician_infos", :scope => :users)

  .field
    %p.checkbox_set
      = f.label :visible, t(:'activerecord.attributes.user.visible')
      %br
      = t(:"visible_explanation", :scope => [:users, :edit])
      %br
      = f.label "visible_true", t(:"users.visible")
      = radio_button(:user, :visible, true)
      = f.label "visible_false", t(:"users.invisible")
      = radio_button(:user, :visible, false)


    %p.checkbox_set
      = f.label :user_type, t(:'activerecord.attributes.user.user_type')

      - User::USER_TYPES.each do |user_type|
        = radio_button(:user, :user_type, user_type)
        = f.label "user_type_" + user_type, t(:"users.types.#{user_type}")
    %p
      = f.label :instruments, t(:'activerecord.attributes.user.instruments')
      %i= t(:"instruments_in_band_notice", :scope => [:users, :edit])
      - @instruments.in_groups_of(4, false) do |instruments|
        .instrument_column
          - for instrument in instruments
            .instrument
              = check_box_tag "user[instrument_ids][]", instrument.id, @user.instruments.include?(instrument)
              = f.label(instrument.name, :class => "habtm")
    .clear
    %p
      %br
      %i= t(:'instrument_not_in_list', :scope => [:users, :edit])
      %a{:class => "feedback_link", :href =>"javascript:UserVoice.showPopupWidget();", :title => t(:'request_through_dashboard', :scope => [:users, :edit])}
        = t(:request_through_dashboard, :scope => [:users, :edit])

    %p
      = f.label :genre, t(:'activerecord.attributes.user.genre')
      - @genres.in_groups_of(4, false) do |genres|
        .instrument_column
          - for genre in genres
            .instrument
              = check_box_tag "user[genre_ids][]", genre.id, @user.genres.include?(genre)
              = f.label(genre.name, :class => "habtm")
    .clear
    %p
      %br
      %i= t(:'genre_not_on_list')
      %a{:class => "feedback_link", :href =>"javascript:UserVoice.showPopupWidget();", :title => t(:'request_through_dashboard', :scope => [:users, :edit])}= t(:'request_through_dashboard', :scope => [:users, :edit])
    %p
      = f.label :searching_for, t(:'activerecord.attributes.user.searching_for')
      = select(:user, :searching_for, grouped_options_for_select(searching_for_grouped_options, @user.searching_for ))

    %p
      = f.label :references, t(:'activerecord.attributes.user.references')
      = f.text_field :references, :size => 60

    %p
      = f.label :request_message, t(:'activerecord.attributes.user.request_message')
      = f.text_area :request_message, :size => "45x20"

  .clear

  %h3= t(:'medias', :scope => [:users, :edit])
  .field
    %p
      = f.label :songkick_username, t(:'activerecord.attributes.user.songkick_username')
      = f.text_field :songkick_username, :placeholder => "Example: Lady Gaga"
      %i Don't have a Songkick account? #{ link_to "Create one here", "http://www.songkick.com/signup" }
    %p
      = f.label :soundcloud_username, t(:'activerecord.attributes.user.soundcloud_username')
      = f.text_field :soundcloud_username, :placeholder => "Example: john-doe"
      %i Don't have a Soundcloud account? #{ link_to "Create one here", "http://www.soundcloud.com/" }
    %p
      = f.label :youtube_video_id, t(:'activerecord.attributes.user.youtube_video_id')
      = f.text_field :youtube_video_id, :placeholder => "Example: JW5meKfy3fY"
      %i Don't find your video id? #{ link_to "Click here for help", "#", "data-reveal-id" => "youtube_video_id_help" }
      %i Don't have a Youtube account? #{ link_to "Create one here", "http://www.youtube.com/" }
  .clear

  = f.submit t(:'buttons.update'), :type => "submit", :class => "button submit"

#youtube_video_id_help.reveal-modal
  %h1 How to find your Youtube video id?
  %ol
    %li First go to your youtube video page
    %li
      %p Then copy the id form the page url. That's the text after "watch?v="
      %p
        = image_tag "reveal/youtube/url-example.jpg", :alt => "youtube url example"
    %li Paste it in your profile youtube video id field
    %li Press update

  %a.close-reveal-modal ×