%tr
  %td
    .avatar.small
      - if friendship.friend.avatar.present?
        = image_tag(friendship.friend.avatar.url(:gallery))
      -else
        = image_tag("backgrounds/avatar-default.gif")
  %td
    = link_to friendship.friend.username, user_path(friendship.friend)
  %td
    .actions
      = link_to t(:'buttons.remove_from_contact_list'), friendship, :method => :delete, :class => "btn btn-mini delete"
      = link_to new_user_message_path(current_user, :to => friendship.friend.id), :class => "btn btn-primary btn-mini submit contact" do
        %i.icon-envelope.icon-white
        = t(:'buttons.contact')

