.nearby-user
  = link_to user_path(nearby_user), :class => "nearby-user" do
    %span.avatar.small
      - if nearby_user.avatar.present?
        = image_tag(nearby_user.avatar.url(:gallery), :alt => "#{nearby_user.username + "'s picture"}")
      -else
        = image_tag("backgrounds/avatar-default.gif", :alt => "#{nearby_user.username + "'s picture"}")
    = nearby_user.username
    = t(:'users.show.from')
    = nearby_user.zip
    .nearby-user-instruments= nearby_user.instruments.map(&:translated_name).to_sentence
    .clearfix