#search_form
  = search_form_for @q, :url => users_path, :html => {:method => :get} do |f|
    .field
      = f.select :user_type_cont, User::USER_TYPES, :include_blank => t(:'search_terms.i_search_a')
      .clear
    .field
      = f.select :genres_name_cont, genres.collect {|g| g.name}, :include_blank => t(:'search_terms.music_style')
      .clear
    .field
      = f.select :instruments_name_cont, instruments.collect {|i| i.name}, :include_blank => t(:'search_terms.who_plays')
      .clear
    .field
      = f.select :searching_for_cont, grouped_options_for_select(searching_for_grouped_options, (params[:q][:searching_for_cont] rescue "")), :include_blank => t(:'search_terms.who_search_for')

      .clear
    .field.wide#location
      .centered
        = text_field_tag :mass_locate, "#{params[:mass_locate] if params[:mass_locate]}", :placeholder => t(:'search_terms.mass_locate'), :size => 20
        .clear
    .field.wide#submit_search
      = f.submit(t(:'buttons.search'), :type => "submit", :class => "button submit search small")

    .clear
