.sidebar.user_profile_listing
  %h4.menu-section= t(:'menu.search')
  #search_form
    %ul.nav.nav-tabs.nav-tabs-dark
      %li{class: if (@current_tab == 'musician' || @current_tab == '') then 'active' end}
        %a.search-form--tab-label{:href => "#tab_musician", rel: "tooltip", data: {toggle: "tab"}}
          %i.icon-user
          %span= t(:'search_terms.tabs.musician')
      %li{class: if @current_tab == 'band' then 'active' end}
        %a.search-form--tab-label{:href => "#tab_band", rel: "tooltip", data: {toggle: "tab"}}
          %i.icon-users
          %span= t(:'search_terms.tabs.band')
      %li{class: if @current_tab == 'agent' then 'active' end}
        %a.search-form--tab-label{:href => "#tab_agent", rel: "tooltip", :data => {:toggle => "tab"}}
          %i.icon-briefcase
          %span= t(:'search_terms.tabs.agent')
    .tab-content.tab-content-dark
      #tab_musician.tab-pane{class: if (@current_tab == 'musician' || @current_tab == '') then 'active' end}
        = render :partial => "users/search_forms/search_musicians", locals: {:genres => genres, :instruments => instruments}
      #tab_band.tab-pane{class: if @current_tab == 'band' then 'active' end}
        = render :partial => "users/search_forms/search_bands", locals: {:genres => genres, :instruments => instruments}
      #tab_agent.tab-pane{class: if @current_tab == 'agent' then 'active' end}
        = render :partial => "users/search_forms/search_agents", locals: {:genres => genres, :instruments => instruments}

