= link_to user_path(user), :class => "user_profile_listing" do
  .section
    - if user.avatar.present?
      = image_tag(user.avatar.url(:normal))
    -else
      = image_tag("http://flickholdr.com/400/#{rand(200-500)}/#{cycle("super-nova","milkyway","planet", "space", "solar")}/#{rand(1-20)}")
  .section.user_general_infos
    .username= user.username
    .location
      = t(:'common.users.from') + " "
      = user.zip + ", "
      = Carmen::country_name(user.country)

  .section.user_type
    .title
      %strong= t(:"users.types.#{user.user_type}")
      = t(:'users.show.is_looking_for')
      %strong= t(:"users.types.#{user.searching_for}")
    .tag_list
      - user.genres.each do |genre|
        %span= t(:"musical_genres.#{genre.name}")

  .section.user_instruments
    .title
      = t(:'activerecord.attributes.user.instruments')
    .tag_list
      - user.instruments.each do |instrument|
        %span= t(:"instruments.#{instrument.name}")

  .clear

/ .item.w1
