= link_to user_path(user), :class => "user_profile_listing" do
  .section.user_general_infos
    .avatar.small
      - if user.avatar.present?
        = image_tag(user.avatar.url(:gallery))
      -else
        = image_tag("backgrounds/avatar-default.gif")
    .row.username= user.username
    .row.location= t(:'common.users.from') + " " + user.zip + ", " + Carmen::country_name(user.country) rescue nil
  
  .section.user_type
    .title
      %strong= t(:"users.types.#{user.user_type}")
      = t(:'users.show.is_looking_for')
      %strong= t(:"users.types.#{user.searching_for}")
      = t(:'users.show.to_play')
    .tag_list
      %span= t(:"musical_genres.#{user.genre}")

  .section.user_instruments
    .title
      = t(:'activerecord.attributes.user.instruments')
    .tag_list
      / - user.instruments.each do |instrument|
      /   %span= t(:"instruments.#{instrument}")
  
  .clear