= link_to user_path(user), :class => "user_profile_listing" do
  .section.user_general_infos
    .avatar.small
      - if user.avatar.present?
        = image_tag(user.avatar.url(:gallery))
      -else
        = image_tag("backgrounds/avatar-default.gif")
    .line.username= user.username
    .line.location
      = t(:'common.users.from') + " "
      = user.zip + ", "
      = Carmen::country_name(user.country)

  .section.user_type
    .title
      %strong= t(:"users.types.#{user.user_type}")
      = t(:'users.show.is_looking_for')
      %strong= t(:"users.types.#{user.searching_for}")
    .tag_list
      - user.genres.each do |genre|
        %span= t(:"musical_genres.#{genre.name}")

  .section.user_instruments
    .title
      = t(:'activerecord.attributes.user.instruments')
    .tag_list
      - user.instruments.each do |instrument|
        %span= t(:"instruments.#{instrument.name}")

  .clear