- title t(:'.titles.title', :username => @user.username)
- description t(:'.meta_description', :username => @user.username)
- set_meta_tags :canonical => request.url
- headline "#{t(:'.titles.title', :username => @user.username)}"

- if @user == current_user
  - content_for :sub_nav do
    %ul#sub_sections
      %li
        = link_to t(:'menu.profile.edit'), edit_user_path(current_user), :class => "current"
      %li
        = link_to t(:'menu.profile.public'),  user_path(current_user)
      %li
        = link_to t(:'menu.profile.account'), edit_user_registration_path(current_user)
      %li
        = link_to t(:'menu.profile.authentications'), services_path

    .clear


- if @user.has_profile_complete?
  - if @user.visible?
    %span.notification.success
      = t(:'.profile_complete_notice') + " " + t(:'.visible_notice')
  - else
    %span.notification.info
      = t(:'.profile_complete_notice') + " " + t(:'.invisible_notice')
- else
  %span.notification.info
    = t(:'.profile_not_complete_notice')

= render 'form'

