- set_title t(:'.title', :username => @user.username)
- description t(:'.meta_description', :username => @user.username)
- canonical request.url
- headline t(:'.title', :username => @user.username)
- @body_class = "right-panel-layout"


.box
  .box-header
    %h1= t('.title')
  .box-body
    - if current_user.profile_completed?
      - if current_user.visible?
        .alert.alert-success
          = t(:'.profile_complete_notice') + " " + t(:'.visible_notice')
      - else
        .alert.alert-info
          = t(:'.profile_complete_notice') + " " + t(:'.invisible_notice')
    - else
      .alert.alert
        = t(:'.profile_not_complete_notice')

    = render 'form'

