- title t(:'.titles.title')

- if @user == current_user
  - content_for :sub_nav do
    %ul#sub_sections
      %li
        = link_to t(:'menu.profile.edit'), edit_user_path(current_user), :class => "current"
      %li
        = link_to t(:'menu.profile.public'),  user_path(current_user)
      %li
        = link_to t(:'menu.profile.account'), edit_user_registration_path(current_user)
      %li 
        = link_to t(:'menu.profile.authentications'), services_path
        
    .clear
    
    
%p= t(:'.complete_profile_condition')

= render 'form'

