- title t(:'.title')
- description 'Listing of local musicians, bands or agents. Emuzikos.com help you find your future band mates'
- keywords 'musician, search, musician search, local musicians, search local musician'

- content_for :sub_nav do
  = render "search", :q => @q, :genres => @genres, :instruments => @instruments, :user_types => @user_types, :countries => Carmen.countries

- content_for :scripts do
  = pageless(@users.num_pages, users_path)

.progress_bar_wrapper.hidden
  = t(:".processing_search")
  .progress_bar
    = image_tag('icons/ajax-loader-bar.gif', :id => "search_loader")

-if !@users.blank?
  %section.users_list
    = render @users
    .clear

  = paginate @users

-else
  %h3=t(:'.no_users')
  %p= t(:'.invite_more_users')
  .spread
    = render "shared/add_this"
    .clear