- title t(:'.title'), false

- content_for :sub_nav do
  = render "search", :q => @q, :user_types => @user_types, :genres => @genres, :instruments => @instruments, :user_types => @user_types, :countries => Carmen.countries

- content_for :scripts do
  = pageless(@users.num_pages, users_path)

.progress_bar_wrapper.hidden
  Processing search
  .progress_bar
    = image_tag('icons/ajax-loader-bar.gif', :id => "search_loader")
-if !@users.blank?
  %section.users_list
    = render @users
    .clear

  = paginate @users

-else
  =t(:'.no_users')
  .spread
    = render "shared/add_this"
    .clear