- title t(:'.title')

= render "search"

-if !@users.blank?
  %table.display.wide
    %tbody
      -for user in @users
        %tr
          %td=link_to "#{user.username}", user_url(user)
          %td= user.user_type
          %td= user.instruments.collect{|instrument| t(:"instruments.#{instrument}")}.join(', ')
          %td= user.genre
          %td= user.zip
          %td= I18n.t user.country, :scope => 'countries'
          %td= user.references
    %thead
      %tr
        %th= t(:'activerecord.attributes.user.username')
        %th= t(:'activerecord.attributes.user.user_type')
        %th= t(:'activerecord.attributes.user.instruments')
        %th= t(:'activerecord.attributes.user.genre')
        %th= t(:'activerecord.attributes.user.zip')
        %th= t(:'activerecord.attributes.user.country')
        %th= t(:'activerecord.attributes.user.references')
        %th= t(:'tables.headings.actions')

  = will_paginate @users
  
-else
  =t(:'.no_users')

