- title t(:'.title')

-if !@users.blank?
  %table.display.wide
    %tbody
      -for user in @users
        %tr
          %td=link_to "#{user.username}", user_url(user)
          %td= user.instruments.collect{|instrument| t(:"instruments.#{instrument}")}.join(', ') if user.instruments
          %td= user.genre          
          %td= user.zip
          %td= user.country
          %td= user.references
    %thead
      %tr
        %th= t(:'activerecord.attributes.user.username')
        %th= t(:'activerecord.attributes.user.instruments')
        %th= t(:'activerecord.attributes.user.genre')
        %th= t(:'activerecord.attributes.user.zip')
        %th= t(:'activerecord.attributes.user.country')
        %th= t(:'activerecord.attributes.user.references')
        %th= t(:'tables.headings.actions')
-else
  =t(:'.no_users')

