- title t(:'.title')
- description t(:'.description')
- keywords t(:'.keywords')

- content_for :sidebar do
  = render "search", :q => @q, :genres => @genres, :instruments => @instruments, :user_types => @user_types, :countries => Carmen.countries

- content_for :scripts do
  = pageless(@users.num_pages, request.url)


.progress_bar_wrapper.hidden
  / = t(:".processing_search")
  .progress.progress-striped.active
    .bar{:style => "width: 100%;"}
  / .progress_bar
  /   = image_tag('icons/ajax-loader-bar.gif', :id => "search_loader")

-if !@users.blank?
  %section.users_list
    = render @users
    .clear

  = paginate @users

-else
  .no_users
    %h3=t(:'.no_users')
    %p= t(:'.invite_more_users')
    .spread
      %a{:onclick => "sendRequestViaMultiFriendSelector(); return false;", :class => "btn btn-primary x-large"}
        =t(:'buttons.invite_your_friends_from_fb')
      .clear

:javascript
  function sendRequestViaMultiFriendSelector() {
    FB.ui({method: 'apprequests',
      message: '#{t(:".invite_your_friends_from_fb_popup")}'
    });
  }

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
