- title t(:'.title', :username => @user.username), false

-if current_user
  - content_for :sub_nav do
    - if @user == current_user
      %ul#sub_sections
        %li
          = link_to t(:'menu.profile.edit'), edit_user_path(current_user)
        %li
          = link_to t(:'menu.profile.public'),  user_path(current_user), :class => "current"

    - else
      %ul#sub_sections
        %li
          = link_to t(:'buttons.back', :model => t(:'activerecord.models.search')), users_path, :class => "button back"
    .clear
  


%section.left_drawer
  = image_tag @user.avatar.url(:medium), :class => "profile_picture"
  
%section.right_drawer
  %header 
    %h1.username= t(:'.title', :username => @user.username)
    
    - unless @user.user_type.blank? || @user.country.blank? || @user.zip.blank?
      %span.location_infos
        =t(:"users.types.#{@user.user_type}")
        =t(:'.from')
        = @user.zip
        = I18n.t(@user.country, :scope => "countries") rescue "N/A"

  - unless @user.user_type.blank? || @user.country.blank? || @user.zip.blank?
    %p.looking_for
      = t(:'.is_looking_for')
      = t(:"users.types.#{@user.searching_for}")
      = t(:'.to_play')
      = t(:"musical_genres.#{@user.genre}")
      = t(:'.music')

  - unless @user.instruments.blank?
    %h3= t(:'activerecord.attributes.user.instruments')
    .instruments_tag_list
      =# @user.instruments.collect{|instrument| t(:"instruments.#{instrument}")}.join(', ')
      - @user.instruments.each do |instrument|
        %span= t(:"instruments.#{instrument}")

  - unless @user.references.blank?   
    %h3= t(:'activerecord.attributes.user.references')
    %p= @user.references

  - unless @user.request_message.blank?
    %h3= t(:'activerecord.attributes.user.request_message')
    %p= @user.request_message
  
          
  / TODO make it work from profile
  / -if @current_user && @current_user != @user
  /     
  /       = form_for @message, :as => :message, :url => user_message_path(@current_user, :to => @user.id) do |f|
  /         = render :partial => "/messages/form", :object => f
  -if @current_user && @current_user != @user
    = link_to t(:'buttons.contact'), new_user_message_path(@current_user, :to => @user.id), :class => "button submit contact small"
  -elsif !@current_user
    = link_to t(:'buttons.home_signup'), signup_path, :class => "button submit contact small"
.clear


