- title t(:'.title', :username => @user.username)

- if @user.has_profile_complete?
  - description "#{ @user.username}" + ": " + "#{"Local " + t(:"users.types.#{@user.user_type}")} looking for #{@user.searching_for if @user.searching_for} in #{Carmen::country_name(@user.country) rescue "N/A"} "
- else
  - description t(:'.title', :username => @user.username) + " - Emuzikos"

- set_meta_tags :canonical => request.url


- content_for :scripts do
  :javascript
    $( "#tabs" ).tabs({
      select: function(event, ui) { window.location.hash = ui.tab.hash; }
    });


-if current_user
  - content_for :sub_nav do
    - if @user == current_user
      %ul#sub_sections
        %li
          = link_to t(:'menu.profile.edit'), edit_user_path(current_user)
        %li
          = link_to t(:'menu.profile.public'),  user_path(current_user), :class => "current"
        %li
          = link_to t(:'menu.profile.account'), edit_user_registration_path(current_user)
        %li
          = link_to t(:'menu.profile.authentications'), services_path
      .clear

    - else
      #actions_set
        = link_to t(:'buttons.back', :model => t(:'activerecord.models.search')), :back, :class => "button back profile"
        -if !@current_user
          = link_to t(:'buttons.home_signup'), new_user_registration_path, :class => "button submit contact "
    .clear

%section.right_drawer.profile
  .inner_profile_wrapper
    %header
      %h1.username= t(:'.title', :username => @user.username)

      - unless @user.user_type.blank? || @user.country.blank? || @user.zip.blank?
        %span.location_infos
          =t(:"users.types.#{@user.user_type}")
          =t(:'.from')
          = @user.zip
          = Carmen::country_name(@user.country) rescue "N/A"

    -if current_user && current_user != @user
      .friendly_actions
        = link_to t(:'buttons.contact'), new_user_message_path(@current_user, :to => @user.id), :class => "button contact"
        - unless current_user.is_friend_with(@user)
          = link_to t(:'buttons.add_to_contact_list'), friendships_path(:friend_id => @user), :method => :post, :class => "button add_to_contact_list"
    -if !@current_user
      .friendly_actions
        = link_to t(:'buttons.contact'), new_user_registration_path, :class => "button contact"
    .spread
      = render "shared/add_this"
      .clear
    #tabs
      %ul.profile_tabs_nav
        %li
          %a{:href => "#tab_info", :class => "icon-info"} User Infos
        - unless @events.results.empty?
          %li
            %a{:href => "#tab_events", :class => "icon-calendar"} Events
        - if @user.youtube_video_id? || @user.soundcloud_username?
          %li
            %a{:href => "#tab_medias", :class => "icon-video"} Medias

      / INFOS TAB START
      #tab_info
        - if @user.searching_for?
          %h3= t(:'activerecord.attributes.user.searching_for') + " :"
          %p= t(:"users.types.#{@user.searching_for}")

        - if @user.has_profile_complete?
          %h3= t(:'activerecord.attributes.user.genre')
          .tag_list_instruments
            - @user.genres.each do |genre|
              .tag-body.yellow
                %span.tag= genre.name

        - unless @user.instruments.empty?
          %h3= t(:'activerecord.attributes.user.instruments')
          .tag_list_instruments
            - @user.instruments.each do |instrument|
              .tag-body.yellow
                %span.tag= instrument.name

        - unless @user.references.blank?
          %h3= t(:'activerecord.attributes.user.references')
          %p= @user.references

        - unless @user.request_message.blank?
          %h3= t(:'activerecord.attributes.user.request_message')
          = simple_format(@user.request_message)

          .clear

        - if @user.geocoded?
          - unless @users_nearby.size.nil?
            .users_nearby
              %h3= t(:'.users_nearby')
              - for user in @users_nearby
                .section.user_general_infos
                  .avatar.small
                    - if user.avatar.present?
                      = link_to(image_tag(user.avatar.url(:gallery)), user_path(user), :class => "tooltip", :title => "#{user.username}")
                    -else
                      = link_to(image_tag("backgrounds/avatar-default.gif"), user_path(user), :class => "tooltip", :title => "#{user.username}")
                    .clear
              .clear

      - unless @events.results.empty?
        / EVENTS TAB START
        #tab_events
          .future_events
            %h3= t(:'.events')
            %ul
              - @events.results.first(5).each do |event|
                %li
                  = event.start.to_date
                  = " | "
                  = event.venue.display_name
                  = " | "
                  = link_to t(:'common.read_more'), event.uri, :target => "_blank"
            = image_tag "songkick/concerts_by_songkick.gif", :alt => "Concerts by Songkick"
          .clear

      - if @user.youtube_video_id? || @user.soundcloud_username?
        / MEDIA TAB START
        #tab_medias
          - if @user.soundcloud_username?
            %h3= t(:souncloud_player)
            .soundcloud_block
              = link_to "#{@user.username} #{t(:'.tracks')}", "http://soundcloud.com/#{@user.soundcloud_username}", :class => "sc-player"
          - if @user.youtube_video_id?
            %h3= t(:'.youtube_video')
            %section
              %iframe{:src => "http://www.youtube.com/embed/#{@user.youtube_video_id}", :width => "320", :height => "190"}
          .clear

%section.left_drawer.fadeInLeft
  .inner
    - if @user.avatar
      = image_tag @user.avatar.url(:normal), :class => "profile_picture"
    - else
      = image_tag "backgrounds/avatar-default-profile.gif", :class => "profile_picture"
    - if @user.geocoded?
      = gmaps({ "map_options" => {"auto_zoom" => false, "zoom" => 11, "center_latitude" => @user.latitude, "center_longitude" => @user.longitude, :raw => '{ scrollwheel: false }' }, "markers" => {"data" => @user_map } })
.clear
