- title t(:'.title', :username => @user.username)

- if @user == current_user
  - content_for :sub_nav do
    %ul#sub_sections
      %li
        = link_to t(:'menu.profile.edit'), edit_user_path(current_user)
      %li
        = link_to t(:'menu.profile.public'),  user_path(current_user), :class => "current"
    .clear


= image_tag @user.avatar.url(:medium)

-if !@user.blank?

  %h3= t(:'activerecord.attributes.user.instruments')
  %p= @user.instruments.collect{|instrument| t(:"instruments.#{instrument}")}.join(', ')

  %h3= t(:'activerecord.attributes.user.genre')
  %p= t(:"musical_genres.#{@user.genre}")

  %h3= t(:'activerecord.attributes.user.zip')
  %p= @user.zip

  %h3= t(:'activerecord.attributes.user.country')
  %p= I18n.t(@user.country, :scope => "countries") rescue "N/A"

  %h3= t(:'activerecord.attributes.user.references')
  %p= @user.references

  %h3= t(:'activerecord.attributes.user.testimonials', :user => @user.username)
  %ul
    - for testimonial in @testimonials do
      %li.testimonial
        = testimonial.created_at
        %br
        = testimonial.body





