- title t(:'.title', :username => @user.username), false

-if current_user
  - content_for :sub_nav do
    - if @user == current_user
      %ul#sub_sections
        %li
          = link_to t(:'menu.profile.edit'), edit_user_path(current_user)
        %li
          = link_to t(:'menu.profile.public'),  user_path(current_user), :class => "current"
        %li
          = link_to t(:'menu.profile.account'), edit_user_registration_path(current_user)
        %li 
          = link_to t(:'menu.profile.authentications'), services_path
      .clear  
      
    - else
      #actions_set
        = link_to t(:'buttons.back', :model => t(:'activerecord.models.search')), :back, :class => "button back"
        -if current_user && current_user != @user
          - unless current_user.is_friend_with(@user)
            = link_to t(:'buttons.add_to_contact_list'), friendships_path(:friend_id => @user), :method => :post, :class => "button add_to_contact_list"
          = link_to t(:'buttons.contact'), new_user_message_path(@current_user, :to => @user.id), :class => "button contact"
        -elsif !@current_user
          = link_to t(:'buttons.home_signup'), signup_path, :class => "button submit contact "
    .clear
  


%section.right_drawer.profile
  .inner_profile_wrapper
    %header 
      %h1.username= t(:'.title', :username => @user.username)

      - unless @user.user_type.blank? || @user.country.blank? || @user.zip.blank?
        %span.location_infos
          =t(:"users.types.#{@user.user_type}")
          =t(:'.from')
          = @user.zip
          = Carmen::country_name(@user.country) rescue "N/A"

    - unless @user.user_type.blank? || @user.country.blank? || @user.zip.blank?
      %p.looking_for
        = t(:'.is_looking_for')
        = t(:"users.types.#{@user.searching_for}")
        = t(:'.to_play')
        = t(:"musical_genres.#{@user.genre}")
        = t(:'.music')

    .spread
      .twshare.left
        %a.twitter-share-button.left{"data-count" => "horizontal", :href => "http://twitter.com/share"} Tweet
        %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
      .fshare.left
        %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
        %fb:like{:layout => "button_count", :show_faces => "false", :width => "50"}
      .clear

    - unless @user.instruments.blank?
      %h3= t(:'activerecord.attributes.user.instruments')
      .tag_list
        - @user.instruments.each do |instrument|
          %span= t(:"instruments.#{instrument}")

    - unless @user.references.blank?   
      %h3= t(:'activerecord.attributes.user.references')
      %p= @user.references

    - unless @user.request_message.blank?
      %h3= t(:'activerecord.attributes.user.request_message')
      = simple_format(@user.request_message)

      .clear

    - unless @users_nearby.nil?
      .users_nearby
        %h3= t(:'.users_nearby')

      - for user in @users_nearby
        .section.user_general_infos
          .avatar.small
            - if user.avatar.present?
              = link_to(image_tag(user.avatar.url(:gallery)), user_path(user))
            -else
              = link_to(image_tag("backgrounds/avatar-default.gif"), user_path(user))
          .row.username= link_to "#{user.username}", user_url(user)
          .row.location= t(:'common.users.from') + " " + user.zip + ", " + Carmen::country_name(user.country) rescue nil


        .section.user_instruments
          %header.title
            = t(:'activerecord.attributes.user.instruments')
          .tag_list
            - user.instruments.each do |instrument|
              %span= t(:"instruments.#{instrument}")

        .clear

%section.left_drawer
  - if @user.avatar
    = image_tag @user.avatar.url(:normal), :class => "profile_picture" 
  - else
    = image_tag "backgrounds/avatar-default-profile.gif", :class => "profile_picture"
  - if @user.geocoded?
    = gmaps("map_options" => {"center_latitude" => @user.latitude, "center_longitude" => @user.longitude, "zoom" => 11},"markers" => { "data" => @user_map })

  
.clear


