- title t(:'.title'), false
- @body_class = "right-panel-layout"

#user_forms.centered
  %header
    %h1= t(:'.title')

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .field
      %p
        = f.label :password, t(:'activerecord.attributes.user.new_password')
        = f.password_field :password
      %p
        = f.label :password_confirmation, "Confirm new password"
        = f.password_field :password_confirmation
      %p
        = f.submit t(:'buttons.change_password'), :class => "button submit"

  = render "devise/shared/links"
