- set_title t(:'.title'), false
= everywhere_js do
  Layout.init("right-panel-layout");

.centered-box.box
  %header.box-header
    %h1= t(:'.title')
  .box-body
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .field
        %p
          = f.label :password, t(:'activerecord.attributes.user.new_password')
          = f.password_field :password
        %p
          = f.label :password_confirmation, "Confirm new password"
          = f.password_field :password_confirmation
        %p
          = f.submit t(:'buttons.change_password'), :class => "btn btn-primary"


= render  "devise/shared/links"
