- set_title t(:'.title')
- description t(:'.description')
- canonical request.url
= everywhere_js do
  Layout.init("right-panel-layout public");

.centered-box.box
  %header.box-header
    %h1= t(:'.title')
  .box-body
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      .field
        = f.label :email
        = f.email_field :email
      .field
        = f.submit t(:'buttons.send_password'), :class => "btn btn-primary"


= render  "devise/shared/links"
