- title t(:'.title')
- description t(:'.description')
- set_meta_tags :canonical => request.url


#user_forms.span6.offset3
  %header
    %h1= t(:'.title')

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      = f.email_field :email
    .field
      = f.submit t(:'buttons.send_password'), :class => "btn btn-primary"

  = render "devise/shared/links"
