- title t(:'.title')
- description 'Forgot your password? No problem, just fill in the form and start search for musicians or bands again'
- set_meta_tags :canonical => request.url


#user_forms.centered
  %header
    %h1= t(:'.title')

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      = f.email_field :email
    .field
      = f.submit t(:'buttons.send_password'), :class => "button submit"

  = render "devise/shared/links"
