- title t(:'.title')
- description t(:'.meta_description')
- set_meta_tags :canonical => request.url
- headline t(:'.title')
- @body_class = "right-panel-layout"

.row-fluid
  .span4
    %h2= t(:".invite_your_friends_from_fb")
    %hr.clearfix
    %p
      %a{:onclick => "sendRequestViaMultiFriendSelector(); return false;", :class => "btn btn-primary x-large"}
        =t(:'buttons.invite_your_friends_from_fb')

    .fb-like-box{"data-header" => "false", "data-href" => "http://www.facebook.com/emuzikos", "data-show-faces" => "true", "data-stream" => "false", "data-width" => "292"}
    .clear
  .span4
    %h2= t(:'.leave_comment')
    %hr.clearfix
    .fb-comments{"data-href" => "http://emuzikos.com", "data-num-posts" => "2", "data-width" => "300"}

  .span4
    %h2= t(:'.donate')
    %hr.clearfix
    = render(:partial => "shared/paypal_widget")

.clear

:javascript
  function sendRequestViaMultiFriendSelector() {
    FB.ui({method: 'apprequests',
      message: '#{t(:".invite_your_friends_from_fb_popup")}'
    });
  }

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
