- fade_class = fade == 'left' ? 'fadeInRight' : 'fadeInLeft'
.tiny-profile.tiny-profile-member.invisible-opacity{data: {:'animated-class' => fade_class}}
  .tiny-profile--thumb
    - if user.avatar.present?
      = image_tag(user.avatar.url(:medium), class: "media-object")
    - else
      = image_tag("http://instasrc.com/400x400/people", class: "media-object")
  .tiny-profile--content
    %h5
      = user.username.titleize
    .tiny-profile--content--location
      = user.zip
      - if user.country?
        = ","
        = i18n_country(user)


