- title t(:'.title')

=form_for :email, :url => { :controller => 'pages', :action => 'contact' } do |f|
  %p
    = f.label :name, t(:'pages.contact.name')
    %br
    = f.text_field :name, :size => 60
  %p
    = f.label :address, t(:'pages.contact.address')
    %br
    = f.text_field :address, :size => 60
  %p
    = f.label :body, t(:'pages.contact.message')
    %br
    = f.text_area :body, :rols => 10, :cols => 60

  = submit_tag t(:'buttons.submit')
