-title "The first easy way to find local musicians. Search for local wanted musicians or bands", false
-description('Local Musician Wanted and Band mates at Emuzikos.com. Join for free! Search for Wanted Bands and Musicians.')

#inner_halo
  #main
    %header
      #main-icon.fadeInDownBig
        %img{:alt => "emuzikos-icon", :src => "/images/homepage/icon-emuzikos.png"}
      #logo_home.bounceInDown
        %img{:alt => "Emuzikos-logo", :src => "/images/homepage/logo.png"}
      %h1#main_title Emuzikos, The musician search platform
      %h2.moto
        The first
        %strong easy
        way to find
        %strong local
        musicians
    = link_to t(:'buttons.home_signup'), new_user_registration_path, :class => "signup_button"
  #music_notes



= content_for :features do
  .features_columns
    .inner_block.home_feature
      %h3 Emuzikos, the musician search tool you were missing

      .columns
        .inner_column
          %h4 Simple & minimal sign up process
          %p Create your musician profile in 60sec. and start browsing, sending messages to other musicians and share your profile around you.
      .columns.home_testimonials
        .inner_column
          %h4 What do you get when you sign up?
          %p You will get a fully customizable profile, a private message inbox, an awesome musicians, bands & agents listing to search in.
      .columns
        .inner_column
          %h4 Care about privacy?
          %p You can use the private inbox to prevent anybody from seeing your email address until you are sure they are truly your band mates.
      .clear

      .columns
        .inner_column
          %h4 What services do we integrate with?
          %p
            We don't want to reinvent the wheel, so we have integrated some cool services for you:
            %ul
              %li
                %strong Soundcloud
                to play your music
              %li
                %strong Songkick
                to announce your events
              %li
                %strong Youtube
                to show you off
      .columns
        .inner_column
          %h4 No credit card required
          %p The service is completely free. We believe you should never pay to be able to connect with other musicians.
      .columns
        .inner_column
          %h4 Spread the love
          = render "shared/add_this"
      .clear
    .note_circle
    .inner_block.home_feature
      %h3 How does it look like?
      .columns
        .inner_column
          %h4 Search page
          =link_to(image_tag("app-samples/search-thumb.jpg"), "#", "data-reveal-id" => "app_sample_search", :class => "app_sample_thumb")
          #app_sample_search.reveal-modal.xlarge
            = image_tag("app-samples/search-normal.jpg")
            %a.close-reveal-modal ×
      .columns
        .inner_column
          %h4 Profile page
          =link_to(image_tag("app-samples/profile-thumb.jpg"), "#", "data-reveal-id" => "app_sample_profile", :class => "app_sample_thumb")
          #app_sample_profile.reveal-modal.xlarge
            = image_tag("app-samples/profile-normal.jpg")
            %a.close-reveal-modal ×
      .columns
        .inner_column
          %h4 Your private inbox
          =link_to(image_tag("app-samples/inbox-thumb.jpg"), "#", "data-reveal-id" => "app_sample_inbox", :class => "app_sample_thumb")
          #app_sample_inbox.reveal-modal.xlarge
            = image_tag("app-samples/inbox-normal.jpg")
            %a.close-reveal-modal ×
      .clear
    - unless @testimonials.empty?
      .note_circle
      .latest_testimionals
        .inner_block.home_testimonials
          %h3 Latest musicians testimonials
          - @testimonials.in_groups_of(2, false) do |group|
            .t_column
              - for testimonial in group do
                .testimonial
                  %span.avatar.small
                    - if testimonial.user.avatar.present?
                      = image_tag(testimonial.user.avatar.url(:gallery))
                    -else
                      = image_tag("backgrounds/avatar-default.gif")

                  %div.text
                    .span.author
                      = testimonial.created_at.strftime('%b %d, %Y')
                      = t(:'common.by')
                      = testimonial.user_username
                    = truncate(testimonial.body, :length => 123, :omission =>"...")
        .clear
    .clear
    .center
      = link_to t(:'buttons.home_signup'), new_user_registration_path, :class => "signup_button"