- title t(:'.title')
- description t(:'.description')
- keywords t(:'.keywords')
- set_meta_tags :canonical => request.url
- @body_class = "right-panel-layout homepage public"

- content_for :scripts do
  :javascript
    tinyProfiles = {
      init: function() {
        profiles = $('.tiny-profile-member');
        $.each(profiles, function(index, val) {
          var image = $(this).find('img');
          image.imagesLoaded({
            callback: function ($images, $proper, $broken) {
              $images.resizeToParent();
            }
          });
          var animation_class = $(this).attr('data-animated-class');
          $(this).addClass(animation_class).delay(600).addClass('animated');
        });
      }
    }
    $(document).ready(function() {
      mixpanel.track('Viewed homepage');
    });
    $(window).on('load', function() {
      tinyProfiles.init();
    });
    $(window).smartresize(function() {
      tinyProfiles.init();
    });

.home-wrapper
  %header
    .main-icon
      = image_tag('homepage/icon-emuzikos.png', :alt => "emuzikos-icon")
      %h5 EMUZIKOS
    %h1
      = t(:'.title')
    %hr.fade-out
    .centered
      = facebook_button
  .home-content
    - if @active_users
      .tiny-profiles.clearfix
        - @active_users[0..1].each do |user|
          = render partial: 'tiny_profile', locals: {user: user, fade: 'left'}
        .tiny-profile.tiny-profiles--meta
          .note-circle
          %h4.tiny-profiles--meta--latest-users Latest musicians searching for bands
        - @active_users[2..3].each do |user|
          = render partial: 'tiny_profile', locals: {user: user, fade: 'right'}
    .home-content--features
      .home-content--features--columns.home-content--features
        .box
          .box-header
            %h4= t(:'.subtitle')
          .box-body
            %h4= t(:'.home_feature.sign_up.title')
            %p= t(:'.home_feature.sign_up.body')
          .box-body
            %h4= t(:'.home_feature.advantage.title')
            %p= t(:'.home_feature.advantage.body')
          .box-body
            %h4= t(:'.home_feature.privacy.title')
            %p= t(:'.home_feature.privacy.body')
          .box-body
            %h4= t(:'.home_feature.external_services.title')
            %p
              = t(:'.home_feature.external_services.body')
            %ul
              %li= t(:'.home_feature.external_services.services.soundcloud').html_safe
              %li= t(:'.home_feature.external_services.services.songkick').html_safe
              %li= t(:'.home_feature.external_services.services.youtube').html_safe
          .box-body
            %h4= t(:'.home_feature.no_credit_card.title')
            %p= t(:'.home_feature.no_credit_card.body')
          .box-body
            %h4= t(:'.home_feature.sharing.title')
            %p= t(:'.home_feature.sharing.body')

      .home-content--features--columns.home-content--quotes
        .box
          .box-header
            %h4= t('.what_people_say_about_it')
          .box-body
            %blockquote
              %p Emuzikos is a good application for musicians, bands and agents of small groups to be aware of. It can help connect these artists to gigs and they could find some additional benefits in the classifieds search.
              %cite by AppAppeal
            %blockquote
              %p  I have found that newer companies in the startup space have more ambitious goals about accomplishing their work with serious gratification.
              %cite by DevGarage

        .box
          .box-header.box-header-dark
            %h4= t(:'.sign_up')
          .box-body
            = render 'devise/registrations/signup_form', locals: {resource: resource}
    .clearfix

