-title t(:'.title'), false

#inner_halo
  #music_notes
  #main
    %header
      #main-icon
        %img{:alt => "emuzikos-icon", :src => "/images/homepage/icon-emuzikos.png"}
      #logo_home
        %img{:alt => "Emuzikos-logo", :src => "/images/homepage/logo.png"}
      %h1#main_title Emuzikos
      %h2.moto
        The first
        %strong easy
        way to find
        %strong local
        musicians
    %span.signup_button
      .bl
      .br
      .signup_text
        = link_to t(:'buttons.home_signup'), new_user_registration_path
    
    

= content_for :features do
  .features_columns
    .columns
      .inner_column
        %h3 The musician search tool you were missing 
        %h4 Simple signup
        %p Create your profile in 60s and start browsing, sending messages and share your musician profile around you.
        %h4 We care about privacy  
        %p Nobody will ever see your email when you send messages, ever.
          
    .columns.home_testimonials
      .inner_column
        %h3 Latest musicians testimonials
        - if !@testimonials.blank?
          %ul
            - for testimonial in @testimonials do
              %li 
                %span.avatar.small
                  - if testimonial.user.avatar.present?
                    = image_tag(testimonial.user.avatar.url(:gallery))
                  -else
                    = image_tag("backgrounds/avatar-default.gif")

                %div.text
                  .span.author
                    = testimonial.created_at.strftime('%b %d, %Y')
                    = t(:'common.by')
                    = testimonial.user.username
                  = truncate(testimonial.body, :length => 123, :omission =>"...")
    .columns
      = render :partial => "shared/facebook_like_box"
    .clear  
