- title t(:'.title')
- description t(:'.description')
- keywords t(:'.keywords')
- set_meta_tags :canonical => request.url


#inner_halo
  #main
    %header
      #main-icon.fadeInDownBig
        = image_tag('homepage/icon-emuzikos.png', :alt => "emuzikos-icon")
      #logo_home.bounceInDown
        = image_tag("homepage/logo.png", :alt => "Emuzikos-logo" )
      %h1#main_title
        = t(:'.title')
      %h2.moto
        = t(:'.moto').html_safe
    = link_to t(:'buttons.home_signup'), new_user_registration_path, :class => "signup_button"
  #music_notes



= content_for :features do
  .features_columns
    .inner_block.home_feature
      %h3= t(:'.subtitle')

      .columns
        .inner_column
          %h4= t(:'.home_feature.sign_up.title')
          %p= t(:'.home_feature.sign_up.body')
      .columns.home_testimonials
        .inner_column
          %h4= t(:'.home_feature.advantage.title')
          %p= t(:'.home_feature.advantage.body')
      .columns
        .inner_column
          %h4= t(:'.home_feature.privacy.title')
          %p= t(:'.home_feature.privacy.body')

      .clear

      .columns
        .inner_column
          %h4= t(:'.home_feature.external_services.title')
          %p
            = t(:'.home_feature.external_services.body')
          %ul
            %li= t(:'.home_feature.external_services.services.soundcloud').html_safe
            %li= t(:'.home_feature.external_services.services.songkick').html_safe
            %li= t(:'.home_feature.external_services.services.youtube').html_safe

      .columns
        .inner_column
          %h4= t(:'.home_feature.no_credit_card.title')
          %p= t(:'.home_feature.no_credit_card.body')
      .columns
        .inner_column
          %h4= t(:'.home_feature.sharing.title')
          %p= t(:'.home_feature.sharing.body')
          = render "shared/add_this"
      .clear

    .note_circle
    .inner_block.home_feature
      %h3= t(:'.sections.screenshots.title')
      .columns
        .inner_column
          %h4= t(:'.sections.screenshots.search_page')
          =link_to(image_tag("app-samples/search-thumb.jpg"), "#", "data-reveal-id" => "app_sample_search", :class => "app_sample_thumb")
          #app_sample_search.reveal-modal.xlarge
            = image_tag("app-samples/search-normal.jpg")
            %a.close-reveal-modal ×
      .columns
        .inner_column
          %h4= t(:'.sections.screenshots.profile')
          =link_to(image_tag("app-samples/profile-thumb.jpg"), "#", "data-reveal-id" => "app_sample_profile", :class => "app_sample_thumb")
          #app_sample_profile.reveal-modal.xlarge
            = image_tag("app-samples/profile-normal.jpg")
            %a.close-reveal-modal ×
      .columns
        .inner_column
          %h4= t(:'.sections.screenshots.inbox')
          =link_to(image_tag("app-samples/inbox-thumb.jpg"), "#", "data-reveal-id" => "app_sample_inbox", :class => "app_sample_thumb")
          #app_sample_inbox.reveal-modal.xlarge
            = image_tag("app-samples/inbox-normal.jpg")
            %a.close-reveal-modal ×
      .clear
    - unless @testimonials.empty?
      .note_circle
      .latest_testimionals
        .inner_block.home_testimonials
          %h3= t(:'.sections.testimonials.title')
          - @testimonials.in_groups_of(2, false) do |group|
            .t_column
              - for testimonial in group do
                .testimonial
                  %span.avatar.small
                    - if testimonial.user.avatar.present?
                      = image_tag(testimonial.user.avatar.url(:gallery))
                    -else
                      = image_tag("backgrounds/avatar-default.gif")

                  %div.text
                    .span.author
                      = testimonial.created_at.strftime('%b %d, %Y')
                      = t(:'common.by')
                      = testimonial.user_username
                    = truncate(testimonial.body, :length => 500, :omission =>"...")
                    - if testimonial.body.length > 500
                      =link_to("read more", "#", "data-reveal-id" => "testimonial_full_#{testimonial.id}", :class => "testimonial_read_more")
                      %div{ :id => "testimonial_full_#{testimonial.id}", :class => "reveal-modal"}
                        %p= testimonial.body
                        %a.close-reveal-modal ×
        .clear
    .clear
    .center
      = link_to t(:'buttons.home_signup'), new_user_registration_path, :class => "signup_button"