- title t(:'.title')
- description t(:'.description')
- set_meta_tags :canonical => request.url

#user_forms.centered
  %header
    %h1= t(:'.title')

  .field
    %p
      %a.btn-auth.btn-facebook{ :href => "/auth/facebook"}
        = t(:"devise.login_with", :provider => "Facebook")
    %p
      %a.btn-auth.btn-twitter{ :href => "/auth/twitter"}
        = t(:"devise.login_with", :provider => "Twitter")

  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = devise_error_messages!
    .normal_login
      %p
        = f.label :email, t(:'activerecord.attributes.user.email')
        = f.email_field :email
      %p
        = f.label :password, t(:'activerecord.attributes.user.password')
        = f.password_field :password

      - if devise_mapping.rememberable?
        %p
          = f.check_box :remember_me
          = f.label :remember_me, t(:'.remember_me')
      %p
        = f.submit(t(:'buttons.login'), :type => "submit", :class => "button submit")

    #remote.services_login
      .shared_links
        = render "devise/shared/links"

  .clear