- title t(:'.title')
- description t(:'.description')
- set_meta_tags :canonical => request.url
- @body_class = "right-panel-layout public"

- content_for :scripts do
  :javascript
    $(document).ready(function() {
      mixpanel.track('Viewed login page');
    });

.centered-box.box
  %header.box-header
    %h1= t(:'.title')
  .box-body
    %p
      = link_to user_omniauth_authorize_path(:facebook), :class => "btn btn-primary btn-large" do
        %i.icon-facebook
          = t(:"devise.signin_with", :provider => "Facebook")
    %p
      = link_to omniauth_authorize_path(:user, "soundcloud") do
        = image_tag "icons/authbuttons/soundcloud-button.png", :alt => "Soundcloud connect"
    %hr.clearfix

    .centered-box--form
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form"}) do |f|
        = devise_error_messages!
        = f.input :email, :label => t(:'activerecord.attributes.user.email')
        = f.input :password, :label => t(:'activerecord.attributes.user.password')

        - if devise_mapping.rememberable?
          = f.input :remember_me, :as => :boolean, :label => t(:'.remember_me')
        .form-actions.box-actions
          = f.submit(t(:'buttons.login'), :type => "submit", :class => "btn btn-primary")

= render  "devise/shared/links"
