- title t(:'.title'), false

#user_forms.centered
  %header
    %h1= t(:'.title')

  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = devise_error_messages!
    .normal_login
      %p
        = f.label :email, t(:'activerecord.attributes.user.email')
        = f.email_field :email
      %p
        = f.label :password, t(:'activerecord.attributes.user.password')
        = f.password_field :password

      - if devise_mapping.rememberable?
        %p
          = f.check_box :remember_me
          = f.label :remember_me
      %p
        = f.submit(t(:'buttons.login'), :type => "submit", :class => "button submit")

    #remote.services_login
      #services.box.field
        %h5= t(:'.or_login_using')
        = link_to image_tag("icons/authbuttons/facebook_32.png"), "/auth/facebook"
        = link_to image_tag("icons/authbuttons/twitter_32.png"), "/auth/twitter"

      .clear
      .shared_links
        = render "devise/shared/links"

  .clear