- title "Login"

= form_for @user_session, :url => { :action => "create" } do |f|
  = f.error_messages
  .field
    = f.label :username, t(:'activerecord.attributes.user.username')
    = f.text_field :username
  .field
    = f.label :password, t(:'activerecord.attributes.user.password')
    = f.password_field :password
  .field
    = f.submit(t(:'buttons.login'), :type => "submit", :class => "button submit")


.field
  = link_to t(:'.forgot_password'), new_password_reset_url
