.testimonial
  .avatar.small
    - if testimonial.user.avatar.present?
      = image_tag(testimonial.user.avatar.url(:gallery))
    -else
      = image_tag("backgrounds/avatar-default.gif")

  .text
    .author
      = testimonial.created_at.strftime('%b %d, %Y')
      = t(:'common.by')
      = testimonial.user.username
    = testimonial.body