.box.testimonial
  .box-body.avatar.small
    .media
      .pull-left
        - if testimonial.user.avatar.present?
          = image_tag(testimonial.user.avatar.url(:gallery), class: 'media-object')
        -else
          = image_tag("backgrounds/avatar-default.gif", class: 'media-object')
      .media-body
        .author.strong
          = testimonial.created_at.strftime('%b %d, %Y')
          = t(:'common.by')
          = testimonial.user.username
        = testimonial.body
