- title t(:'.title')
-if @current_user
  %p= link_to t(:'buttons.testimonials.create'), new_testimonial_path, :class => "button add"
.testimonials{ :class => (@current_user ? nil : "wide")}
  - if !@testimonials.blank?
    = render @testimonials

  -else
    %p= t(:"#{ @current_user ? 'testimonials.no_testimonials_logged_in' : 'testimonials.no_testimonials'  }")
.pagination
  = paginate @testimonials
.clear
