- @body_class = "right-panel-layout"

- title t(:'.title')

.box
  .box-header
    %h1
      = t(:'.title')
      - if @current_user
        = link_to new_testimonial_path, :class => "btn btn-mini pull-right" do
          %i.icon-plus.icon-white
          = t(:'buttons.testimonials.create')
  .box-body
    - if !@testimonials.blank?
      = render @testimonials

    -else
      %p= t(:"#{ @current_user ? 'testimonials.no_testimonials_logged_in' : 'testimonials.no_testimonials'  }")
  .pagination
    = paginate @testimonials
