- title "Testimonial"
.field
  = label_tag :body, t(:'activerecord.attributes.testimonial.body')
  = @testimonial.body
.field
  = label_tag :username, t(:'activerecord.attributes.testimonial.user')
  = @testimonial.user.username
.field
  = link_to t(:'buttons.edit'), edit_testimonial_path(@testimonial), :class => "button edit"
  = link_to t(:'buttons.delete'), @testimonial, :confirm => 'Are you sure?', :method => :delete, :class => "button delete"
  = link_to t(:'buttons.testimonials.all'), testimonials_path, :class => "button back"
