- title "Testimonial"
- content_for :sub_nav do
  %ul#sub_sections
    %li
      = link_to t(:'buttons.back', :model => t(:'activerecord.models.testimonials')), testimonials_path(@user), :class => "button back"
  .clear
  
.field
  = label_tag :body, t(:'activerecord.attributes.testimonial.body')
  = @testimonial.body
.field
  = label_tag :username, t(:'activerecord.attributes.testimonial.user')
  = @testimonial.user.username
.field
  = link_to t(:'buttons.edit'), edit_testimonial_path(@testimonial), :class => "button edit"
  = link_to t(:'buttons.delete'), @testimonial, :confirm => 'Are you sure?', :method => :delete, :class => "button delete"
