#footer.light 
  .inner_footer
    .left_links
      = link_to t(:'common.home'), root_path
      -if current_user
        =link_to t(:'menu.testimonials'), testimonials_path
        =link_to t(:'menu.logout'), destroy_user_session_path, :class => "logout"

      -else
        =link_to t(:'menu.testimonials'), testimonials_path
        =link_to t(:'menu.register'), new_user_registration_path
        =link_to t(:'menu.login'), new_user_session_path
      
    .copyright
      Emuzikos #{Time.now.year} | #{ t(:'common.created_by')} #{ link_to "Boris Rorsvort", "http://www.rorsvort.com", :rel => "external"}
    .clear
  
= include_javascripts :jquery
= yield :javascripts
= include_javascripts :emuzikos
= yield :scripts

/[if (lt IE 9) & (!IEMobile)]
  = include_javascripts :ie_js_pack
  
= gflash(:fade_in_speed => 200, :fade_out_speed => 200, :time => 200)

/ http://t.co/HZe9oJ4
:javascript
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
  
%noscript
  = t(:'common.no_script')