#footer.light
  .inner_footer
    .left_links
      = link_to t(:'common.home'), root_path
      = link_to t(:'menu.terms'), terms_path
      = link_to t(:'menu.privacy'), privacy_path
      = link_to t(:'menu.testimonials'), testimonials_path
      = link_to t(:'menu.blog'), "http://blog.emuzikos.com/#{I18n.locale if I18n.locale == :fr}"
      = link_to t(:'menu.search'), users_path

      - unless current_user
        = link_to t(:'menu.signup'), new_user_registration_path
        = link_to t(:'menu.login'), new_user_session_path
    .copyright
      Emuzikos #{Time.now.year} | #{ t(:'common.created_by')} #{ link_to "Boris Rorsvort", "http://www.rorsvort.com", :rel => "external"}
      = link_to "", root_url(:subdomain => 'fr'), :class => "flag fr tooltip", :title => t(:'footer.emuzikos_language', :language => t(:'languages.french'))
      = link_to "", "#{request.protocol}#{request.domain}", :class => "flag en tooltip", :title => t(:'footer.emuzikos_language', :language => t(:'languages.english'))
    .clearfix

= javascript_include_tag "application"
= yield :javascripts
= yield :scripts


/[if (lt IE 9) & (!IEMobile)]
  = javascript_include_tag "ie_js_pack"

= gflash

%script{:src => "http://connect.facebook.net/en_US/all.js"}

:javascript
  FB.init({
    appId  : '#{AppConfig.facebook.app_id}',
    status:true,
    cookie: true,
    xfbml: true,
    oauth: true
  });

- if flash[:error]
  = js add_gritter(flash[:error], :image => :error, :title => "Something's wrong!", :sticky => true)
-elsif flash[:alert]
  = js add_gritter(flash[:alert], :image => :error, :title => "Something's wrong!", :sticky => true)
- elsif flash[:notice]
  = js add_gritter(flash[:notice], :image => :success, :sticky => true)

= render "shared/feedback_box"
= render "shared/mixpanel"    if Rails.env.production?
= render "shared/inspectlet"  if Rails.env.production?
= render "shared/quantcast"   if Rails.env.production?
= render "shared/userfox"     if Rails.env.production?




/ http://t.co/HZe9oJ4
- if Rails.env.production?
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2826331-13']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
%noscript
  = t(:'common.no_script')
