= yield :modal
= javascript_include_tag "application"
= render(:partial => "shared/trackings")
= yield :javascripts
= yield :scripts

/[if (lt IE 9) & (!IEMobile)]
  = javascript_include_tag "ie_js_pack"

= gflash

%script{:src => "http://connect.facebook.net/en_US/all.js"}

:javascript
  FB.init({
    appId  : '#{AppConfig.facebook.app_id}',
    status:true,
    cookie: true,
    xfbml: true,
    oauth: true
  });

= render partial: 'shared/flashes', locals: {js: false}

%noscript
  = t(:'common.no_script')
