!!! 5
= html_tag :class => "no-js", :lang => "#{I18n.locale}"
%head
  - if content_for?(:title)
    %title
      = yield(:title)
      = " - Emuzikos"
  - if content_for?(:description)
    %meta{ name: 'description', content: yield(:description) }
  - if content_for?(:keywords)
    %meta{ name: 'keywords', content: yield(:keywords) }

  %meta{:charset => "utf-8"}/
  %meta{ :name => "google-site-verification", :content => "U84a4JsWjHvENwEbAWcsSTecF326rTo9L_5oDKJKA5c"}
  %meta{:content => "Boris Rorsvort", :name => "author"}
  %meta{:content => "True", :name => "HandheldFriendly"}
  %meta{:property => "fb:app_id", :content => "#{AppConfig.facebook.app_id}"}
  %meta{:content => "Emuzikos", :name => "apple-mobile-web-app-title"}/
  %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
  = render partial: 'shared/mobile_icons'

  /[if lt IE 9]
    %script{:src => "http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"}

  = csrf_meta_tag
  = wiselinks_meta_tag
  = javascript_include_tag "polyfills"
  = stylesheet_link_tag "application"

  = yield :stylesheets
  = yield :head
