!!! 5
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => "#{I18n.locale}" }
  <!--<![endif]-->
  %head
    = display_meta_tags :site => t(:'common.base_title'), :reverse => true

    %meta{:charset => "utf-8"}/
    %meta{ :name => "google-site-verification", :content => "U84a4JsWjHvENwEbAWcsSTecF326rTo9L_5oDKJKA5c"}
    %meta{:content => "Boris Rorsvort", :name => "author"}
    / http://t.co/dKP3o1e
    %meta{:content => "True", :name => "HandheldFriendly"}
    %meta{:content => "320", :name => "MobileOptimized"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    / For iPhone 4
    %link{:href => "/assets/icons/h/apple-touch-icon.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    / For iPad 1
    %link{:href => "/assets/icons/m/apple-touch-icon.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    / For iPhone 3G, iPod Touch and Android
    %link{:href => "/assets/icons/l/apple-touch-icon-precomposed.png", :rel => "apple-touch-icon-precomposed"}
    / For Nokia
    %link{:href => "/assets/icons/l/apple-touch-icon.png", :rel => "shortcut icon"}
    / For everything else
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/

    / iOS.
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}

    / Microsoft.
    %meta{:content => "on", "http-equiv" => "cleartype"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    %link{:href => 'http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold', :rel => 'stylesheet', :type => 'text/css'}

    /[if lt IE 9]
      %script{:src => "http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"}

    = csrf_meta_tag

    = javascript_include_tag "polyfills"

    = stylesheet_link_tag "application" 

    = yield :stylesheets

    =render "/shared/mixpanel"

    = yield :head