%aside.menu-panel.menu-panel-right
  - if user_signed_in?
    %section.main-nav
      %h4= t(:'menu.messages.messages')
      %ul
        %li= menu_item((t(:'menu.messages.inbox') + unread_messages_count if current_user.unread_messages?),'mail',user_messages_path(current_user))
        %li= menu_item(t(:'menu.users.contacts'),'users',user_contacts_path(current_user))

      %h4= t(:'menu.profile.show')
      %ul
        %li= menu_item(t(:'menu.profile.edit'),'pencil',edit_user_path(current_user))
        %li= menu_item(t(:'menu.profile.public'),'globe',user_path(current_user))
        %li= menu_item(t(:'menu.profile.account'),'cog',edit_user_registration_path(current_user))
        %li= menu_item(t(:'menu.profile.authentications'),'share',services_path)


      %h4= t('menu.more')
      %ul
        %li
          %a{:class => "feedback_link", :href =>"javascript:UserVoice.showPopupWidget();", :title => "Open feedback & support dialog"}
            = t(:'menu.help')
        %li= menu_item(t(:'menu.testimonials'), false,testimonials_path)


      %h4= t(:'menu.messages.languages')
      %ul
        %li= menu_item(t(:'languages.french'), false,root_url(:subdomain => 'fr'))
        %li= menu_item(t(:'languages.english'), false, "#{request.protocol}#{request.domain}")

      %h4= t('menu.connexion')
      %ul
        %li= menu_item(t(:'menu.logout'), false,destroy_user_session_path)
  - else
    %section.main-nav
      %h4= t('menu.connexion')
      %ul
        %li= menu_item(t(:'menu.signup'), false,new_user_registration_path)
        %li= menu_item(t(:'menu.login'), false,new_user_session_path)

      %h4= t('menu.more')
      %ul
        %li
          %a{:class => "feedback_link", :href =>"javascript:UserVoice.showPopupWidget();", :title => "Open feedback & support dialog"}
            = t(:'menu.help')

        %li= menu_item(t(:'menu.testimonials'), false,testimonials_path)
