%aside.menu-panel.menu-panel-right.scrollable
  %section.main-nav
    - if user_signed_in?
      %h4.menu-section= t(:'menu.messages.messages')
      %ul
        %li= menu_item((t(:'menu.messages.inbox') + unread_messages_count).html_safe,'mail',user_messages_path(current_user))
        %li= menu_item(t(:'menu.users.contacts'),'users',user_contacts_path(current_user))

      %h4.menu-section= t(:'menu.profile.show')
      %ul
        %li= menu_item(t(:'menu.profile.edit'),'pencil',edit_user_path(current_user))
        %li= menu_item(t(:'menu.profile.public'),'globe',user_path(current_user))
        %li= menu_item(t(:'menu.profile.account'),'cog',edit_user_registration_path(current_user))
        %li= menu_item(t(:'menu.profile.authentications'),'share',services_path)


      %h4.menu-section= t('menu.more')
      %ul
        %li= menu_item(t(:'menu.help'), false,'http://emuzikos.uservoice.com')
        %li= menu_item(t(:'menu.testimonials'), false,testimonials_path)


      %h4.menu-section= t(:'menu.messages.languages')
      %ul
        %li= menu_item(t(:'languages.french'), false,root_url(:subdomain => 'fr'))
        %li= menu_item(t(:'languages.english'), false, "#{request.protocol}#{request.domain}")

      %h4.menu-section= t('menu.connexion')
      %ul
        %li= menu_item(t(:'menu.logout'), false,destroy_user_session_path, false)
    - else
      %h4.menu-section= t('menu.connexion')
      %ul
        %li= menu_item(t(:'menu.signup'), false,new_user_registration_path)
        %li= menu_item(t(:'menu.login'), false,new_user_session_path)
      %h4.menu-section= t('menu.legal')
      %ul
        %li= menu_item(t(:'menu.terms'), false, terms_path)
        %li= menu_item(t(:'menu.privacy'), false, privacy_path)
        %li= menu_item(t(:'menu.blog'), false, "http://blog.emuzikos.com/#{I18n.locale if I18n.locale == :fr}")
        %li= menu_item(t(:'menu.search'), false, users_path)
      %h4.menu-section= t('menu.more')
      %ul
        %li= menu_item(t(:'menu.help'), false,'http://emuzikos.uservoice.com')
        %li= menu_item(t(:'menu.testimonials'), false,testimonials_path)
