%aside.menu-panel.menu-panel-right
  - if user_signed_in?
    %section.main-nav
      %h4= t(:'menu.messages.messages')
      %ul
        %li
          = link_to user_messages_path(current_user), class: current_page_class(user_messages_path(current_user)) do
            %i.icon-mail
            = t(:'menu.messages.inbox')
            = unread_messages_count if current_user.unread_messages?
        %li
          = link_to user_contacts_path(current_user), class: current_page_class(user_contacts_path(current_user)) do
            %i.icon-users
            = t(:'menu.users.contacts')
      %h4= t(:'menu.profile.show')
      %ul
        %li
          = link_to edit_user_path(current_user), class: current_page_class(edit_user_path(current_user)) do
            %i.icon-pencil
            = t(:'menu.profile.edit')
        %li
          = link_to user_path(current_user), class: current_page_class(user_path(current_user)) do
            %i.icon-globe
            = t(:'menu.profile.public')
        %li
          = link_to edit_user_registration_path(current_user), class: current_page_class(edit_user_registration_path(current_user)) do
            %i.icon-cog
            = t(:'menu.profile.account')
        %li
          = link_to services_path, class: current_page_class(services_path) do
            %i.icon-share
            = t(:'menu.profile.authentications')
      %h4= t(:'menu.messages.languages')
      %ul
        %li
          = link_to t(:'languages.french'), root_url(:subdomain => 'fr'), :title => t(:'footer.emuzikos_language', :language => t(:'languages.french'))
        %li
          = link_to t(:'languages.english'), "#{request.protocol}#{request.domain}", :title => t(:'footer.emuzikos_language', :language => t(:'languages.english'))
      %h4= t('menu.connexion')
      %ul
        %li= link_to t(:'menu.logout'), destroy_user_session_path, :class => "logout", :rel => "nofollow"

  - else
    %section.main-nav
      %h4= t('menu.connexion')
      %ul
        %li
          = link_to t(:'menu.signup'),new_user_registration_path, class: current_page_class(new_user_registration_path)
        %li= link_to t(:'menu.login'), new_user_session_path, class: current_page_class(new_user_session_path)
      %h4= t('menu.more')
      %ul
        %li
          %a{:class => "feedback_link", :href =>"javascript:UserVoice.showPopupWidget();", :title => "Open feedback & support dialog"}
            = t(:'menu.help')
        %li= link_to t(:'menu.testimonials'), testimonials_path, :rel => "nofollow", class: current_page_class(testimonials_path)
