= render "/layouts/head"

%body{:id => @body_id ? @body_id: controller.controller_name, :class => @body_class ? controller.action_name + " clearfix " + @body_class : controller.action_name + " clearfix "}

  #fb-root

  = render  "shared/ie_warning"
  = render "layouts/topnav", :current_user => @current_user

  .container{ :role => "main", class: (if @nobg then "nobg" end) }
    = render(:partial => "layouts/left_panel")
    .main
      .content
        = yield
    = render "layouts/right_panel"

  = render "/layouts/footer"
