= render "/layouts/head"

%body{:id => @body_id ? @body_id: controller.controller_name, :class => @body_class ? controller.action_name + " " + @body_class : controller.action_name}


  %section#header
    #logo
      = link_to((@current_user ? users_path : root_path), :title => t(:'tooltips.back_to_home')) do
        = image_tag 'logo.png', :alt => "Emuzikos"
        
    #user_nav
      = render "/layouts/top_nav"
    .clear
    
  #container{:class => @current_user ? "with_sidebar" : nil}
      
    = render "/layouts/main_nav"  if @current_user

    %section#content
      - flash.each do |key, message|
        = content_tag(:div, message, :class => "flash #{key}")
        
      - if content_for? :sub_nav
        %nav#sub_nav
          = yield :sub_nav
          
      #inner_content
        - if show_title?
          %h1= yield(:title)

        = yield
    .clear
  
  =render "/layouts/footer"
