= render "/layouts/head"

%body{:id => @body_id ? @body_id: controller.controller_name, :class => @body_class ? controller.action_name + " clearfix " + @body_class : controller.action_name + " clearfix "}

  #fb-root

  = render  "shared/ie_warning"
  = render "layouts/topnav", :current_user => @current_user

  .container-fluid{ :role => "main", class: (if @nobg then "nobg" end) }
    .row-fluid
      - if content_for? :sidebar
        %aside{role: "search", class: "span3 searchbar"}
          = yield(:sidebar)
      / %section.content{class: (if content_for? :sidebar then "span9" else "span12" end) }
      %section.content
        = render "layouts/subnav" if content_for? :sub_nav
        - if show_headline?
          %header.page-header
            %h1= yield(:headline)
        = yield

  = render "/layouts/footer"
