= render "/layouts/head"

%body{:id => @body_id ? @body_id: controller.controller_name, :class => @body_class ? controller.action_name + " clearfix " + @body_class : controller.action_name + " clearfix "}
  #fb-root
  = render  "shared/ie_warning"
  = render "/layouts/top_nav", :current_user => @current_user

  #container

    %section#content
      - flash.each do |key, message|
        = content_tag(:div, raw(message), :class => "flash #{key}")

      - if content_for? :sub_nav
        %nav#sub_nav
          = yield :sub_nav

      #inner_content
        - if show_headline?
          .page-header
            %h1= yield(:headline)

        = yield
    .clear

  = render "/layouts/footer"