= render "/layouts/head"

%body{:id => @body_id ? @body_id: controller.controller_name, :class => @body_class ? controller.action_name + " clearfix " + @body_class : controller.action_name + " left-panel-layout clearfix "}

  #fb-root

  = render  "shared/ie_warning"
  - if Rails.env.development?
    .alert.alert-info.alert-mobile Mobile
    .alert.alert-info.alert-tablet Tablet
    .alert.alert-info.alert-desktop Desktop
    .alert.alert-info.alert-public Public
  .container{ :role => "main"}
    = render(:partial => "layouts/left_panel")
    .main
      .spinner-wrapper
        .spinner
      = render "layouts/topnav", :current_user => @current_user
      .content#content
        = yield
    = render "layouts/right_panel"

  = render "/layouts/footer"

