!!! 5
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => "en" }
  <!--<![endif]-->
  %head
    %title
      = yield(:title) || "Find a local musicians"
      | Emuzikos

    %meta{:charset => "utf-8"}/
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    / http://t.co/dKP3o1e
    %meta{:content => "True", :name => "HandheldFriendly"}
    %meta{:content => "320", :name => "MobileOptimized"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    / For iPhone 4
    %link{:href => "/images/icons/h/apple-touch-icon.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    / For iPad 1
    %link{:href => "/images/icons/m/apple-touch-icon.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    / For iPhone 3G, iPod Touch and Android
    %link{:href => "/images/icons/l/apple-touch-icon-precomposed.png", :rel => "apple-touch-icon-precomposed"}
    / For Nokia
    %link{:href => "/images/icons/l/apple-touch-icon.png", :rel => "shortcut icon"}
    / For everything else
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/

    / iOS.
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}

    / Microsoft.
    %meta{:content => "on", "http-equiv" => "cleartype"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    / http://t.co/y1jPVnT
    %link{:href => "/", :rel => "canonical"}/

    %link{:href => 'http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold', :rel => 'stylesheet', :type => 'text/css'}

    /[if lt IE 9]
      %script{:src => "http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"}

    = csrf_meta_tag

    = include_javascripts :polyfills

    = include_stylesheets :common, :media => 'all'

    = include_stylesheets :homepage, :media => 'all'

    = yield :head

  %body.logged_out{:id => "pages", :class => "homepage clearfix loggued_out"}

    /[if lt IE9 ]
      = render  "shared/ie_warning"

    %section#header
      #logo
        = link_to root_path, :title => t(:'tooltips.back_to_home') do
          = image_tag 'logo.png', :alt => "Emuzikos - Musicians search plateform"
      .clear

    #container

      %section#content
        - if content_for? :sub_nav
          %nav#sub_nav
            = yield :sub_nav

        - flash.each do |key, message|
          = content_tag(:div, message, :class => "flash #{key}")

        #inner_content
          = yield
      .clear
    = yield :features
    =render "/layouts/footer"
