- content_for :stylesheets do
  = stylesheet_link_tag "homepage" 

= render "/layouts/head"

%body.logged_out{:id => @body_id ? @body_id: controller.controller_name, :class => @body_class ? controller.action_name + " clearfix " + @body_class : controller.action_name + " clearfix "}
  #fb-root
  = render  "shared/ie_warning"

  / %section#header
  /   #logo
  /     = link_to((@current_user ? users_path : root_path), :title => t(:'tooltips.back_to_home')) do
  /       = image_tag 'logo.png', :alt => "Emuzikos - Musicians search plateform"
  /     .language_chooser
  /       = link_to "", root_url(:subdomain => 'fr'), :class => "flag fr", :title => t(:'footer.emuzikos_language', :language => t(:'laguages.french'))
  /       = link_to "", "#{request.protocol}#{request.domain}", :class => "flag en", :title => t(:'footer.emuzikos_language', :language => t(:'laguages.english'))
  /   #user_nav
  /     = render "/layouts/top_nav", :current_user => @current_user
  /   .clear
  
  = render "/layouts/topnav", :current_user => @current_user
  #container

    %section#content
      - if content_for? :sub_nav
        %nav#sub_nav
          = yield :sub_nav

      - flash.each do |key, message|
        = content_tag(:div, message, :class => "flash #{key}")

      #inner_content
        = yield
    .clear
  = yield :features
  =render "/layouts/footer"
