- @body_class = "homepage"

= render "/layouts/head"

%body{:id => @body_id ? @body_id: controller.controller_name, :class => @body_class ? controller.action_name + " clearfix " + @body_class : controller.action_name + " clearfix "}

  #fb-root

  = render  "shared/ie_warning"
  = render "layouts/topnav", :current_user => @current_user
  = render "layouts/subnav" if content_for? :sub_nav


  .container-fluid{ :role => "main"}

    / - flash.each do |key, message|
    /   = content_tag(:div, raw(message), :class => "flash #{key}")

    %section.content
      - if show_headline?
        %header.page-header
          %h1= yield(:headline)
      = yield
    .clearfix
    = yield :features
  = render "/layouts/footer"