- content_for :stylesheets do
  = include_stylesheets :homepage, :media => 'all'
  
= render "/layouts/head"

%body.logged_out{:id => @body_id ? @body_id: controller.controller_name, :class => @body_class ? controller.action_name + " clearfix " + @body_class : controller.action_name + " clearfix "}

  %section#header
    #logo
      = link_to((@current_user ? users_path : root_path), :title => t(:'tooltips.back_to_home')) do
        = image_tag 'logo.png', :alt => "Emuzikos - Musicians search plateform"
        
    #user_nav
      = render "/layouts/top_nav"
    .clear
    
  #container
        
    %section#content
      - if content_for? :sub_nav
        %nav#sub_nav
          = yield :sub_nav

      - flash.each do |key, message|
        = content_tag(:div, message, :class => "flash #{key}")

      #inner_content
        = yield
    .clear
  = yield :features
  =render "/layouts/footer"
  